{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}
<div class="card game-card z1 gradient_bg-lt">
  <h2 class="card-title game-title">MONTH {{ current_round }} ({{ current_month }})</h2>
  <div class="card-body">
    <h4>You have <span class="pr">10</span> energy tokens.</h4>

    <div class="game-row flex flex-vcenter">
      <label>How much energy do you want to contribute to the group conservation account this month?</label>
      <input id="contribution_box"
      class="token-box color-conserve mx-2"
      name="contribution"
      onchange="document.getElementById('private_box').setAttribute('value', 10-this.value)"
      min="0"
      max="10"
      type="number"
      >
    </div>

    <div class="game-row flex flex-vcenter">
      <label class="flex flex-vcenter">How much energy do you want to keep in your private account this month?</label>
      <div id="personal" class="color-private  token-box input-paceholder"></div>
      <input name="private_contribution"
      id="private_box"
      min="0"
      max="10"
      type="number"
      style="display:none"
      >
    </div>
  </div>
</div>
<div class="form-control-errors" id="errors">{{ form.contribution.errors }}</div>
<script src="{% static 'main_app/game.js' %}"></script>
{% endblock %}
