
@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Mukta Regular'), local('Mukta-Regular'), url(/static/assets/mukta-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(/static/assets/source-sans-pro-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(/static/assets/source-sans-pro-italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(/static/assets/source-sans-pro-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Source Sans Pro BoldItalic'), local('SourceSansPro-BoldItalic'), url(/static/assets/source-sans-pro-bolditalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(/static/assets/source-sans-pro-black.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Source Sans Pro BlackItalic'), local('SourceSansPro-BlackItalic'), url(/static/assets/source-sans-pro-blackitalic.ttf) format('truetype');
}
