venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__pycache__/
*.py[cod]
.DS_Store
*.zip
=2.5.1
node_modules/

src/bootstrap/
node_modules/

src/certificate/

tests/*.docx

tests/.~lock.*
