{% extends "global/Page.html" %}
{% load static otree %}

{% block title %} RESEARCH PARTICIPANT CONSENT FORM {% endblock %}

{% block content %}
<div class="card bg-transparent">
  <div class="card-body">

    <h2 style="padding-left: 10px; text-align: center">RESEARCH PARTICIPANT CONSENT FORM</h2>
    <center>
      <b>Purdue IRB Protocol #: 1702018811</b><br>
      <i>The Perception and Use of Energy Devices<br>
Panagiota Karava, Principle Investigator<br>
Dept. of Civil Engineering<br>
Sabine Brunswicker, Leigh Raymond, Torsten Reimer, Co-Investigators<br>
Purdue Polytechnic Institute, Department of Political Science, Dept. of Communication Purdue University<br><br></i>
    </center>

    <h3>What is the purpose of this study?</h3>

    <p>The purpose of this research is to learn about how people make energy-related decisions in a group environment.</p>

    <h3>What will I do if I choose to be in this study?</h3>

    <p>
      Your participation will involve answering some survey questions and completing a game in which you will
      make decisions as if you are a resident of a building trying to achieve a group energy conservation goal.
      Depending on your energy choices and those of others in your building, you will earn a smaller or larger
      financial incentive. Participation in this research project is voluntary and open to those aged 18 and older.
      You are free to stop participating at any time.
    </p>

    <h3>How long will I be in the study?</h3>

    <p>You can take up to 60 minutes to complete the study.</p>

    <h3>What are the possible risks or discomforts?</h3>

    <p>
      Breach of confidentiality is a potential risk for all research. The researchers have taken actions to
      minimize this risk. The safeguards to prevent such a risk can be found in the Confidentiality
      section of the form. There are no additional risks from the study more serious than those in
      everyday life.
    </p>

    <h3>Are there any potential benefits?</h3>

    <p>
      There are no direct benefits to you for participating in this, research study. There may be benefits
      to general knowledge about how consumers perceive and use energy devices.
    </p>

    <h3>What alternatives are available?</h3>

    <p>You may choose not to participate in this study.</p>

    <h3>Will I receive payment or other incentive?</h3>

    <p>
      You will earn a minimum of $0.50 from participating in this experiment. Depending on your
      decisions and those of the other participants in the task during the exercise, you may earn
      additional funds.
    </p>

    <h3>Will information about me and my participation be kept confidential?</h3>

    <p>
      You will not be asked to provide your name or any other identifying information during the study.
      Our HITs are external to Amazon's servers. Data from these experiments will be retained
      electronically on a password protected computer, identified only by the Worker IDs (anonymized
      strings with no personal information), and accessed only by members of the research team. This
      data will be retained past the end of the project for replicability of any published results and
      possible future analysis. The project's research records may be reviewed by the National Science
      Foundation and by departments at Purdue University responsible for regulatory and research
      oversight.
    </p>

    <h3>What are my rights if I take part in this study?</h3>

    <p>
      Your participation in this study is voluntary. You may choose not to participate or, if you agree to
      participate, you can withdraw your participation at any time without penalty.
    </p>

    <h3>Who can I contact if I have questions about the study?</h3>

    <p>
      If you have questions, comments or concerns about this research project, you can talk to one of the
      researchers via email: <a href="mailto:researchopendigitalinnovation@gmail.com">researchopendigitalinnovation@gmail.com</a>.
      If you have questions about your rights while taking part in the study or have concerns about the
      treatment of research participants, please call the Human Research Protection Program at (765)
      494-5942, email (<a href="mailto:irb@purdue.edu">irb@purdue.edu</a>) or write to:
    </p>

    <center>
      <i>Human Research Protection Program - Purdue University<br>
        Ernest C. Young Hall, Room 1032r<br>
        155 S. Grant St.,<br>
        West Lafayette, IN 47907-2114</i>
    </center>

    <h3>Documentation of Informed Consent</h3>

    <p>
      <i>I have had the opportunity to read this consent form and have the research study explained.
      I am prepared to participate in the research study described above. I can screen print this
      informed consent document for my own records. <b>By signing in the box below AND clicking the following
      link, I agree to participate in the study described above</b>.</i>
    </p>

    <p>
      <b>Please LEAVE THE Amazon Turk WINDOW OPEN as you complete the study</b>. When finished,
      you will return to that page to <b> paste the study completion CODE into the Amazon Turk box</b> . This
      is technically needed for you to receive your payment. You may choose not to participate in this study.
    </p>

    <div id="signature-pad" class="signature-pad">
      <div class="signature-pad--body">
        <canvas style="width: 100% !important;height: 200px !important;"></canvas>
      </div>

      <div class="signature-pad--footer">
        <div class="description" style="text-align: center; color: #8d8d8d;">Sign above</div>
        <div class="signature-pad--actions">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-light" data-action="clear">Clear</button>
            <button class="otree-btn-next btn btn-success btn-block" data-action="next" style="display: none;">I agree</button>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'main_app/signature_pad.umd.js' %}"></script>

    <script src="{% static 'main_app/app.js' %}"></script>
  </div>
</div>

{% endblock %}
