{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}Air Polltion Reduction{% endblock %}

{% block content %}

<div class="card bg-transparent">
  <div class="card-header">
    <h1>YOUR GROUP'S AIR POLLUTION REDUCTION RESULT</h1>
  </div>

    <div class="card-body">
        <div class="card" style="background:transparent; border-color: transparent">
            <div class="card-body">
              <img src="{% static 'assets/carbonfund.jpg' %}" class="img-fluid" alt="Carbonfund Certificate" />
                <div id="carbonfund_reduction_lbs" class="">Thank you for reducing <strong>{{ lbs }}</strong> tonnes of CO2 emissions by donating <strong>{{ amount }}</strong></div>
                <div id="carbonfund_reduction_date" class=""><strong>{% now "m/d/Y" %}</strong></div>
            </div>
        </div>
    </div>
    {% include './blocks/next-button.html' %}
</div>

{% endblock %}
