{% extends "global/Page.html" %}
{% load static otree %}

{% block styles %} <link href="{% static 'main_app/style.css' %}" rel="stylesheet"> {% endblock %}

{% block title %}DE-BRIEFING​{% endblock %}

{% block content %}
    <div class="card bg-transparent">
        <div class="card-body" >
            <h2 style="padding-left: 10px"><b>DE-BRIEFING​</b></h2><br>
            <p>​<b>Thank you for participating in our study!</b></p>
            <br><br>
            <p>The goal of this study is to investigate group dynamics and incentives for meeting a group energy conservation goal. We are interested in how other’s contributions affected your contributions to the group conservation account, as well as the potential influence of the group incentive. This data should help inform the design of programs to incentivize energy conservation in real multifamily housing units in the future.</p>
            <p>If you have any questions or comments about this study, please contact us:<br> <a href="mailto:researchopendigitalinnovation@gmail.com.">researchopendigitalinnovation@gmail.com</a></p>
            <p>Finally, we kindly ask that you not to discuss this study with anyone else who is currently participating or might participate at a future point in time. As you can certainly appreciate, we will not be able to examine group dynamics in participants who know about the purpose of the project beforehand.</p>
            <p>Thank you!</p>
            <br><br>
            <p style="color: red">Please, COPY and PASTE the CODE presented to you at the end of the study to the HIT page on Amazon Mechanical Turk to receive your pay.</p>
            <button class="otree-btn-next btn" style="background: #8d8d8d; margin-left: 80%; width: 100px">End</button>
        </div>
    </div>

{% endblock %}

