{% extends "global/Page.html" %}
{% load static otree %}

{% block styles %} <link href="{% static 'main_app/style.css' %}" rel="stylesheet"> {% endblock %}

{% block title %}Examples{% endblock %}

{% block content %}
    <div class="card bg-transparent">
        <div class="card-body" >
          <h1>EXAMPLES</h1>
            <div class="container text-muted font-italic">
              <p>
                You learned about the rules of the game.
              </p>
              <p>
                Next, we'll show you <strong>5 examples<strong> of how the game might be played and what the
                results would look like in each scenario.
              </p>
            </div>
            <button class="otree-btn-next btn" style="background: #8d8d8d; margin-left: 80%; width: 100px">Next</button>
        </div>
    </div>

{% endblock %}
