{% extends "global/Page.html" %}
{% load static otree %}
{% block styles %}
<link href="{% static 'main_app/style.css' %}" rel="stylesheet"> {% endblock %}
{% block title %}Examples 2-3{% endblock %}
{% block content %}
<div class="card bg-transparent">
    <div class="card-body" style="padding-right: 0;">
        <div class="container">
            <!-- <img style="position: absolute;padding-left: 46.5%" src="{% static 'main_app/13.MIDDLE.png' %}" class="img-fluid"
                alt="Responsive image" /> -->
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 20px">
                    <center>
                        <h4><b>EXAMPLE 2: NO CONSERVATION</b></h4><br>
                    </center>
                    <p style="text-align: justify;text-justify: inter-word;">
                        But, if ALL players put ALL energy tokens in their <e style="color: #a700a8">personal accounts</e>
                        and do not <e style="color: blue">conserve</e> any energy, then everybody just gets their
                        private share: <b>$6.00</b>
                    </p>

                    <ul style="font-size: 18px;text-align: left;">
                        <li>
                            <b>
                                <e style="color: #a700a8">Private account</e>
                            </b>: Each player has 60 tokens left, earning them <e style="color: #a700a8">$6.00</e>.
                        </li>
                        <li>
                            <b>
                                <e style="color: blue">Group conservation account</e>
                            </b>: The group has 0 tokens ($0.00).
                            The group does not meet the conservation goal, so every player's bonus is 0
                            tokens
                            (<e style="color: blue">$0.00</e>).
                        </li>
                        <li>
                            <i><b>Your total earnings</b>: <e style="color: #a700a8">$6.00 (private account</e>) +
                                <e style="color: blue">$0.00 </e>(<e style="color: blue">group conservation bonus</e>)
                                <b>= $6.00</b></i>
                        </li>
                        <li><b>
                                <e style="color: green">Pollution reduction</e>
                            </b>: The dollar value of the energy
                            tokens in the <e style="color: blue"> conservation account</e> ($0.00) is donated to
                            Carbonfund.org, reducing approximately <e style="color: green">0</e> pounds of air
                            pollution.
                        </li>
                    </ul>
                    <!-- <img src="{% static 'main_app/9. EXAMPLE 2.png' %}" class="img-fluid" alt="Responsive image" /> -->
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 18px">
                    <center>
                        <h4><b>EXAMPLE 3: MAX CONSERVATION</b></h4><br>
                    </center>
                    <p>
                        Or, if ALL players <e style="color: blue">conserve</e> the maximum amount of 10 energy tokens
                        every month, then
                        everybody just gets the group bonus: <b>$12.00</b>
                    </p>
                    <ul style="font-size: 18px;text-align: left;">
                        <li>
                            <b>
                                <e style="color: #a700a8">Private account</e>
                            </b>: Each player has 0 tokens left, earning them <e style="color: #a700a8">$0.00</e>.
                        </li>
                        <li>
                            <b>
                                <e style="color: blue">Group conservation account</e>
                            </b>: The group has 1,500 tokens ($150.00).
                            The group meets the conservation goal, so a bonus is paid by doubling the 1,500 tokens
                            (to 3,000 tokens) and dividing them equally among all players. Every player's bonus is 150
                            tokens
                            (<e style="color: blue">$15.00</e>).
                        </li>
                        <li>
                            <i><b>Your total earnings</b>: <e style="color: #a700a8">$0.00 (private account</e>) +
                                <e style="color: blue">$15.00 </e>(<e style="color: blue">group conservation bonus</e>)
                                <b>= $15.00</b></i>
                        </li>
                        <li><b>
                                <e style="color: green">Pollution reduction</e>
                            </b>: The dollar value of the energy
                            tokens in the <e style="color: blue"> conservation account</e> ($150.00) is donated to
                            Carbonfund.org, reducing approximately <e style="color: green">33,000</e> pounds of air
                            pollution.
                        </li>
                    </ul>
                    <!-- <img src="{% static 'main_app/10. EXAMPLE 3.png' %}" class="img-fluid" alt="Responsive image" /> -->
                </div>
            </div>
        </div>
        <br><button class="otree-btn-next btn" style="background: #8d8d8d; margin-left: 80%; width: 100px">Next</button>
    </div>
</div>
{% endblock %}