{% extends "global/Page.html" %}
{% load static otree %}
{% block styles %} <link href="{% static 'main_app/style.css' %}" rel="stylesheet"> {% endblock %}
{% block title %}Examples 4-5{% endblock %}
{% block content %}
    <div class="card bg-transparent">
        <div class="card-body" style="padding-right: 0;">
            <div class="container">
                <img style="position: absolute;padding-left: 46.5%" src="{% static 'main_app/13.MIDDLE.png' %}" class="img-fluid" alt="Responsive image"/>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 20px">
                        <center><h4><b>EXAMPLE 4: JUST OTHERS CONSERVE​</b></h4><br></center>
                        <p>
                            If you keep ALL of your tokens in your <e style="color: #a700a8">private account</e>, while others contribute ALL of their
                            tokens to <e style="color: blue">group conservation account</e>, <b>you’ll earn more than others</b>:
                        </p>
                        <img src="{% static 'main_app/11. EXAMPLE 4.png' %}" class="img-fluid" alt="Responsive image"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 21px" >
                        <center><h4><b>EXAMPLE 5: JUST YOU CONSERVE​​</b></h4><br></center>
                        <p>
                            Or, if you <e style="color: blue">conserve</e> ALL of your tokens, while others keep ALL of theirs in their <e style="color: #a700a8">private
                            accounts</e>, then <B>you’ll earn nothing</B>, while others get: $1.20​
                        </p>
                        <img src="{% static 'main_app/12. EXAMPLE 5.png' %}" class="img-fluid" alt="Responsive image"/>
                    </div>
                </div>
            </div>
            <br><button class="otree-btn-next btn" style="background: #8d8d8d; margin-left: 80%; width: 100px">Next</button>
        </div>
    </div>
{% endblock %}

