{% extends "global/Page.html" %}
{% load static otree %}

{% block styles %} <link href="{% static 'main_app/style.css' %}" rel="stylesheet"> {% endblock %}

{% block title %}Examples{% endblock %}

{% block content %}
    <div class="card bg-transparent">
        <div class="card-body" >
            <h2 style="padding-left: 10px"><b>EXAMPLES</b></h2><br>
            <div class="container" >
                <i ><p style="font-size: 22px;text-align: left;">
                    You learned about the rules of the game.
                </p><br>
                <p style="font-size: 22px;text-align: left;">
                    Next, we’ll walk you through <b>5 examples</b> of how the game might be played and what the end results would look like.
                </p><br></i>
            </div>
            <button class="otree-btn-next btn" style="background: #8d8d8d; margin-left: 80%; width: 100px">Next</button>
        </div>
    </div>

{% endblock %}

