          <table style="width:100%;">
            <thead>
              <tr>
                <th>Scenario</th>
                <th>
                  Private Account<br>
                  (PA)
                </th>
                <th>Other Accounts<br>
                  (OA)
                </th>
                <th>
                  Group Account<br>
                  (GA)
                </th>
                <th>
                  Bonus <br>
                  (B)
                </th>
                <th>Goal</th>
                <th>
                  Total
                </th>
              </tr>
            </thead>
            <tbody>

              <!--  ROW 1 -->

              <tr class="{{ classes.row1 }}">
                <td>
                  <strong>MIN REQUIREMENT:</strong><br>
                  ALL contribute 6 tokens each month
                </td>
                <td>
                  24 tokens<br>
                  ($0.24)
                </td>
                <td>
                  24 tokens<br>
                  ($0.24)
                </td>
                <td>
                  900 tokens<br>
                  (1,980 lbs)
                </td>
                <td>
                  (2 &times; 9.00)  &divide; 25<br>
                  &equals; $0.72
                </td>
                <td>
                  YES
                </td>
                <td>
                  0.24 + 0.72<br>
                  &equals; <strong>$0.96</strong>
                </td>
              </tr>

              <!--  ROW 2 -->

              <tr class="{{ classes.row2 }}">
                <td>
                  <strong>MIN CONTRIBUTION:</strong><br>
                  ALL put ALL tokens in<br>
                  private accounts each month
                </td>
                <td>
                  60 tokens<br>
                  ($0.60)
                </td>
                <td>
                  60 tokens<br>
                  ($0.60)
                </td>
                <td>
                  0 tokens<br>
                  (0 lbs)
                </td>
                <td>
                  No Bonus<br>
                  &equals; $0.00
                </td>
                <td>
                  NO
                </td>
                <td>
                  0.60 + 0.00<br>
                  &equals; <strong>$0.60</strong>
                </td>
              </tr>

              <!--  ROW 3 -->

              <tr class="{{ classes.row3 }}">
                <td>
                  <strong>MAX CONTRIBUTION:</strong><br>
                  ALL contribute ALL tokens each month
                </td>
                <td>
                  0 tokens<br>
                  ($0.00)
                </td>
                <td>
                  0 tokens<br>
                  ($0.00)
                </td>
                <td>
                  1,500 tokens<br>
                  (3,300 lbs)
                </td>
                <td>
                  (2 &times; 15.00)  &divide; 25<br>
                  &equals; $1.20
                </td>
                <td>
                  YES
                </td>
                <td>
                  0.00 + 1.20<br>
                  &equals; <strong>$1.20</strong>
                </td>
              </tr>

              <!--  ROW 4 -->

              <tr class="{{ classes.row5 }}">
                <td>
                  <strong>ONLY YOU CONTRIBUTE:</strong><br>
                  You contribute ALL tokens<br>
                  but others keep ALL of theirs
                </td>
                <td>0 tokens<br>
                  ($0.00)
                </td>
                <td>60 tokens<br>
                  ($0.60)
                </td>
                <td>
                  60 tokens<br>
                  (132 lbs)
                </td>
                <td>
                  No Bonus<br>
                  &equals; $0.00
                </td>
                <td>NO</td>
                <td>
                  0.00 &plus; 0.00<br>
                  &equals; <strong>$0.00</strong>
                </td>
              </tr>

              <!--  ROW 5 -->

              <tr class="{{ classes.row4 }}">
                <td>
                  <strong>ONLY YOU DON'T CONTRIBUTE:</strong><br>
                  EVERYONE except you contributes<br>
                  ALL of their tokens each month
                </td>
                <td>
                  60 tokens<br>
                  ($0.60)
                </td>
                <td>
                  0 tokens<br>
                  ($0.00)
                </td>
                <td>
                  1,440 tokens<br>
                  (3,168 lbs)
                </td>
                <td>
                  (2 &times; 14.40) &divide; 25<br>
                  &equals; $1.15
                </td>
                <td>
                  YES
                </td>
                <td>
                  0.60 + 1.15<br>
                  &equals; <strong>$1.75</strong>
                </td>
              </tr>

            </tbody>
          </table>
