{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}Examples 2-3{% endblock %}

{% block content %}

<div class="card bg-transparent">
  <div class="card-body" style="padding-right: 0;">
    <h1>EXAMPLE 2 &amp; 3: MIN AND MAX CONSERVATION</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <table style="width:100%;">
            <thead>
              <tr>
                <th>Scenario</th>
                <th>
                  Private Account<br>
                  (PA)
                </th>
                <th>Other Accounts<br>
                  (OA)
                </th>
                <th>
                  Group Account<br>
                  (GA)
                </th>
                <th>
                  Bonus <br>
                  (B)
                </th>
                <th>Goal</th>
                <th>
                  Total
                </th>
              </tr>
            </thead>
            <tbody>
              <!--  ROW 1 -->
              <tr class="text-muted">
                <td>
                  <strong>MIN REQUIREMENT:</strong><br>
                  ALL conserve 6 tokens each month
                </td>
                <td>
                  24 tokens<br>
                  ($0.24)
                </td>
                <td>
                  24 tokens<br>
                  ($0.24)
                </td>
                <td>
                  900 tokens<br>
                  (1,980 lbs)
                </td>
                <td>
                  (2 &times; 9.00)  &divide; 25<br>
                  &equals; $0.72
                </td>
                <td>YES</td>
                <td>
                  0.24 + 0.72<br>
                  &equals; <strong>$0.96</strong>
                </td>
              </tr>
              <!--  ROW 2 -->
              <tr class="badge-danger">
                <td>
                  <strong>NO CONSERVATION:</strong><br>
                  ALL keep ALL tokens each month
                </td>
                <td>
                  60 tokens<br>
                  ($0.60)
                </td>
                <td>
                  60 tokens<br>
                  ($0.60)
                </td>
                <td>
                  0 tokens<br>
                  (0 lbs)
                </td>
                <td>
                  No Bonus<br>
                  &equals; $0.00
                </td>
                <td>NO</td>
                <td>
                  0.60 + 0.00<br>
                  &equals; <strong>$0.60</strong>
                </td>
              </tr>
              <!--  ROW 3 -->
              <tr class="badge-success">
                <td>
                  <strong>MAX CONSERVATION:</strong><br>
                  ALL conserve ALL tokens each month
                </td>
                <td>
                  0 tokens<br>
                  ($0.00)
                </td>
                <td>
                  0 tokens<br>
                  ($0.00)
                </td>
                <td>
                  1,500 tokens<br>
                  (3,300 lbs)
                </td>
                <td>
                  (2 &times; 15.00)  &divide; 25<br>
                  &equals; $1.20
                </td>
                <td>YES</td>
                <td>
                  0.00 + 1.20<br>
                  &equals; <strong>$1.20</strong>
                </td>
              </tr>
              <!--  ROW 4 -->
              <tr class="text-muted">
                <td>
                  <strong>ONLY YOU DON'T CONSERVE:</strong><br>
                  You keep ALL tokens<br>
                  Others conserve ALL their tokens
                </td>
                <td>
                  60 tokens<br>
                  ($0.60)
                </td>
                <td>
                  0 tokens<br>
                  ($0.00)
                </td>
                <td>
                  1,440 tokens<br>
                  (3,168 lbs)
                </td>
                <td>
                  (2 &times; 14.40) &divide; 25<br>
                  &equals; $1.15
                </td>
                <td>YES</td>
                <td>
                  0.60 + 1.15<br>
                  &equals; <strong>$1.75</strong>
                </td>
              </tr>
              <!--  ROW 5 -->
              <tr class="text-muted">
                <td>
                  <strong>ONLY YOU CONSERVE:</strong><br>
                  You conserve ALL tokens<br>
                  Others keep ALL their tokens
                </td>
                <td>0 tokens<br>
                  ($0.00)
                </td>
                <td>60 tokens<br>
                  ($0.60)
                </td>
                <td>
                  60 tokens<br>
                  (132 lbs)
                </td>
                <td>
                  No Bonus<br>
                  &equals; $0.00
                </td>
                <td>NO</td>
                <td>
                  0.00 &plus; 0.00<br>
                  &equals; <strong>$0.00</strong>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul style="font-size: 18px;">
            <li>
              <p style="text-align: justify;text-justify: inter-word;">
                But, if ALL players put ALL energy tokens in their <e style="color: #a700a8">personal accounts</e>
                and do not <e style="color: blue">conserve</e> any energy, then everybody just gets their
                private share: <b>$6.00</b>
              </p>
              <p>NO CONSERVATION (everybody keeps all of their energy tokens in private account)</p>
            </li>
            <li>
              <p>
                Or, if ALL players <e style="color: blue">conserve</e> the maximum amount of 10 energy tokens
                every month, then everybody just gets the group bonus: <b>$12.00</b>
              </p>
              <p>MAXIMUM CONSERVATION (everybody donates 100% of their energy tokens to conservation account).</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="otree-btn-next btn" style="background: #8d8d8d; width: 100px">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
