{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}FINANCIAL OUTCOMES{% endblock %}


{% block content %}
<div class="card bg-transparent">
  <div class="card-body">
    <h1>INSTRUCTIONS: FINANCIAL OUTCOMES</h1>
    <div class="container">
      <div class="my-5 flex-row flex-center">
        <div class="model-card flex flex-vcenter text-center flex-center flex-item">Tokens in Private Account</div>
        <div class="icon-type">+</div>
        <div class="model-card flex flex-vcenter text-center flex-center flex-item">Group Conservation Bonus</div>
        <div class="icon-type">=</div>
        <div class="model-card flex flex-vcenter text-center flex-center flex-item">Your pay at the end of the game.</div>
      </div>
      <div class="row">
        <div class="col">
          <ul>
            <li>
              Regardless of the group goal, all players receive $0.01 for every energy
              token left in their <strong>private accounts</strong> at the end of the
              game.
            </li>
            <li>
              <strong>If the group meets it's 60% group conservation goal</strong> (=900 tokens), then the
              tokens in group account are doubled and divided equally among all players.
            </li>
            <blockquote>
              <p>
                For example, if exactly 900 tokens are contributed to the group conservation
                account, each player will receive an additional 900 * 2 / 25= 72 tokens
                worth $0.72.
              </p>
            </blockquote>
          </li>
            <li>
               <strong>If the group fails</strong> to make it's group conservation goal, <strong>no bonus</strong> will be
              paid to any player.
            </li>
          </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="otree-btn-next btn" style="background: #8d8d8d; margin-left: 20px; width: 100px">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
