{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}Game Structure{% endblock %}

{% block content %}
<div class="card bg-transparent">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
        <h1>INSTRUCTIONS: GAME STRUCTURE AND INCENTIVES</h1>
        <ul>
          <li>
            There are <strong>25 players</strong> who live in the same housing
            community.
          </li>
          <li>
            At the start of each month, each player has
            <strong>10 energy tokens</strong> (worth <strong>$.01 each</strong>) that
            represent potential energy use beyond their basic needs.
          </li>
          <li>
            Each month, every player faces the same <strong>decision problem</strong>:
            how much energy to use for their personal benefit (by putting tokens in
            their private account) versus how much to conserve (by putting tokens in the
            group conservation account).
          </li>
          <li>
            <strong>Players will be paid</strong> the value of all energy tokens in
            their private account at the end of the game. If the group meets the 60%
            conservation goal by the end of the game, then the value of those tokens in
            the group conservation account is doubled and given in equal shares to all
            players as a <strong>reward</strong>.
          </li>
          <li>
            To meet the 60% energy reduction goal, each player should contribute
            <strong>6 energy tokens every month</strong> to the group conservation
            account.
          </li>
        </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="otree-btn-next btn" style="background: #8d8d8d; margin-left: 200px; width: 100px">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
