{% extends "global/Page.html" %}
{% load static otree %}

{% block title %} Real Environmental Impact {% endblock %}

{% block content %}
<div class="card bg-transparent">
  <div class="card-body">
    <h1>INSTRUCTIONS: ENVIRONMENTAL OUTCOMES</h1>
    <div class="container">
      <div class="my-5 flex-row flex-center">
        <div class="model-card flex flex-vcenter text-center flex-center flex-item">Tokens in Group Conservation Account</div>
        <div class="icon-type">x</div>
        <div class="model-card flex flex-vcenter text-center flex-center flex-item">$0.01</div>
        <div class="icon-type">=</div>
        <div class="model-card flex flex-vcenter text-center flex-center flex-item">Carbon Offset</div>
      </div>
      <div class="row">
        <div class="col">
          <ul>
            <li>
              <p>
                Irrespective of whether the group meets the goal or not, all energy tokens
                in the group conservation account will be donated.
              </p>
            </li>
            <li>
              <p>
                "Carbon Offset" will be used to pay for programs through through Carbonfund.org that
                reduce air pollution in the US at the rate of 220 pounds for each 100 tokens
                ($1.00).
              </p>
              <blockquote>
                For example, if the group conservation account has 800 tokens at the end of
                the game (group misses their goal), $8.00 will still be used to eliminate
                1,760 pounds of carbon from the air in the US.
              </blockquote>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button class="otree-btn-next btn" style="background: #8d8d8d ;margin-top: 19px; width: 100px">Next</button>

  </div>
</div>

{% endblock %}
