{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}SAMPLE POST-GAME SURVEY 1/4{% endblock %}

{% block content %}

<style>
.form-group ul {
  display: flex;
  justify-content: space-around;
}
.table tr th {
  text-align: center;
}
.form-group label {
  flex: 1 0;
}
.form-group {
  display: flex;
  margin-bottom: 1rem;
  justify-content: stretch;
}
.form-group .controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.survey-section-title {
  font-size: 1.2em;
  margin: 1em 0;
  font-weight: bold;
}
</style>

<div class="card bg-transparent">
  <div class="card-body">
    <h1>POST-GAME SURVEY 1/4</h1>

    <h2 class="survey-section-title">
      Please answer the below questions as honestly as possible.
      <p>Remember your responses are anonymous.</p>
    </h2>

    {% formfield player.survey_goals %}
    <div class="form-control-errors">{{ form.survey_goals.errors }}</div>
    {% formfield player.survey_goals_success %}
    <div class="form-control-errors">{{ form.survey_goals_success.errors }}</div>
    {% formfield player.survey_guiding_info %}
    <div class="form-control-errors">{{ form.survey_guiding_info.errors }}</div>
    {% formfield player.survey_individual_conservation %}
    <div class="form-control-errors">{{ form.survey_individual_conservation.errors }}</div>
    {% formfield player.survey_group_conservation %}
    <div class="form-control-errors">{{ form.survey_group_conservation.errors }}</div>

    <h2 class="survey-section-title">
      Please indicate your level of agreement with the following four statements<br>
      <p>1 (Strongly Disagree) to 5 (Strongly Agree)</p>
    </h2>

      {% formfield player.survey_rank_concentration %}
      <div class="form-control-errors">{{ form.survey_rank_concentration.errors }}</div>

      {% formfield player.survey_rank_understandable %}
      <div class="form-control-errors">{{ form.survey_rank_understandable.errors }}</div>

      {% formfield player.survey_rank_teamwork %}
      <div class="form-control-errors">{{ form.survey_rank_teamwork.errors }}</div>

      {% formfield player.survey_rank_group %}
      <div class="form-control-errors">{{ form.survey_rank_group.errors }}</div>

      {% formfield player.survey_rank_collective %}
      <div class="form-control-errors">{{ form.survey_rank_collective.errors }}</div>

      <h2 class="survey-section-title">
        Please rate how much each piece of information informed your decisions during the game:<br>
        <p>1 (Not At All Important) to 5 (Very Important):</p>
      </h2>

      {% formfield player.survey_range_pastcontributions %}
      <div class="form-control-errors">{{ form.survey_range_pastcontributions.errors }}</div>

      {% formfield player.survey_range_totalgroup %}
      <div class="form-control-errors">{{ form.survey_range_totalgroup.errors }}</div>

      {% formfield player.survey_range_totaloverall %}
      <div class="form-control-errors">{{ form.survey_range_totaloverall.errors }}</div>

      {% formfield player.survey_range_percentgoal %}
      <div class="form-control-errors">{{ form.survey_range_percentgoal.errors }}</div>

      {% formfield player.survey_range_envbenefit %}
      <div class="form-control-errors">{{ form.survey_range_envbenefit.errors }}</div>

      <button class="otree-btn-next btn btn-outline-success btn-lg btn-block">Submit</button>
    </div>
  </div>

  {% endblock %}
