{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}Practice{% endblock %}

{% block content %}
<div class="card bg-transparent">
  <div class="card-body" >
    <h1>SAMPLE PRACTICE GAME</h1>
    <div class="container" >
      <div class="row">
        <div class="col">
          <p>
            Now, we'll ask you to play 2 practice rounds so that you can get familiar with
            the game set up.
          </p>
          <p class="color-red">
            Remember, the decisions of other players in this practice game are random and
            DO NOT REPRESENT the actual decisions of other players.
          </p>
          <p class="color-red">Practice results DO NOT count toward your final payment.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="otree-btn-next btn" style="background: #8d8d8d; width: 100px">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
