{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}Practice Game{% endblock %}

{% block content %}

<div class="card bg-transparent">
  <h1>PRACTICE GAME</h1>
  <div class="card-body">

    <ul style="color: gray">
      <li>
        <p>
          Remember, the decisions of other players in this practice game are random and
          DO NOT REPRESENT the actual decisions of other players.
        </p>
      </li>
      <li>
        <p>Practice results DO NOT count toward your final payment.</p>
      </li>
    </ul>

    <div class="form-control-errors" id="errors">{{ form.practice_contribution.errors }}</div>
    <div class="card" style="background: linear-gradient(to right ,#eef3f8, #dae5f1,#eef3f8) no-repeat;">
      <div class="card-body">

        <p><strong>MONTH 1</strong></p>

        <center><h4><b><u>{{ current_month }}</u></b></h4></center>

        <h4><b>You have <e class="pr">10</e> energy tokens.</b></h4><br>

        <h4><b>How much energy do you want to conserve this month?</b></h4><br>

        <div class="container" style="padding: 0">
          <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-right: 0; margin-right: -38px">
              <p>How much energy do you want to conserve this month?
                <input id="contribution_box"
                  name="practice_contribution"
                  onchange="document.getElementById('personal').setAttribute('value',10-this.value)"
                  min="0"
                  max="10"
                  type="number">
              </p>
            </div>
          </div>

          <div class="row">
            <p style="margin-top: -15px; margin-left: 14px">
              How much energy do you want to keep in your personal account this month?
              <span id="personal" style="color: #a700a8; font-weight: bold; width: 56px; border-bottom: 1px solid; display: inline-block; text-align: center;"></span>
            </div>
          </div>
        </div>
      </div>
      <button class="otree-btn-next btn" style="background: #8d8d8d; margin-left: 80%;margin-top: 30px; width: 100px">Next</button>
    </div>
  </div>
  <script src="{% static 'main_app/box.js' %}" ></script>
  {% endblock %}
