{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}Quiz{% endblock %}

{% block content %}

<div class="card bg-transparent">
  <div class="card-body" >
    <h1>SAMPLE COMPREHENSION QUIZ</h1>
    <div class="container" >
      <p>
        Now that you have read the instructions and played 2 practice rounds, we will
        give you a basic quiz to confirm that you understand the rules of the game.
      </p>
      <ul>
        <li>
          You'll be paid an additional
          <strong>$0.05 for each correct question</strong>
        </li>
        <li>
          <strong>If you answer a question incorrectly</strong>, you will be directed
          back to the relevant section of instructions. You will get a second chance
          to answer the question and will get paid for answering it correctly.
        </li>
        <li>
          <strong>After a second incorrect answer</strong>, the computer will tell you
          the correct answer and you will NOT get the payment for that question.
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col">
        <button class="otree-btn-next btn" style="background: #8d8d8d; margin-left: 80%; width: 100px">Next</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
