{% extends "global/Page.html" %}
{% load static otree %}

{% block title %} Quiz 2 {% endblock %}

{% block content %}

<div class="card bg-transparent">
  <div class="card-header">
    <h1>COMPREHENSION QUIZ 2/4</h1>
  </div>

  <div class="card-body">
        <div class="form-group" id='{{ form.quiz_1.html_name }}'>
        <p>Q2:</p>
        {{ form.quiz_2 }}
        {{ form.quiz_2.errors }}
        {% include './blocks/message-box.html' with field_id=form.quiz_2.html_name hint_text=Constants.q2.0.hint %}

      </div>
    </div>
    {% include './blocks/quiz-buttons.html' %}

</div>
{% endblock %}
