{% extends "global/Page.html" %}
{% load static otree %}

{% block title %} Quiz 3 {% endblock %}

{% block content %}

<div class="card bg-transparent">
  <h1>SAMPLE COMPREHENSION QUIZ 3/4</h2>
    <div class="card-body">
      <p>Q3.a:</p>
      {{ form.quiz_3b.label_tag }}
      {{ form.quiz_3b }}
      {{ form.quiz_3b.errors }}


      <p>Q3.b:
      </p>
      {{ form.quiz_3b.label_tag }}
      {{ form.quiz_3b }}
      {{ form.quiz_3b.errors }}

  </div>

    {% include './blocks/quiz-buttons.html' %}

</div>

<script>
var checkButton = document.getElementById("checkButton")
var nextButton = document.getElementById("nextButton")
var explanation = document.getElementById("message_box")
var explanation2 = document.getElementById("message_box")

if( '{{ player.timesInstruction3a }}' == '0' && '{{ player.timesInstruction3b }}' == '0'){

  var radioInputs = document.getElementsByClassName("form-check-input")

  for (i = 0; i < radioInputs.length; i++) {
    var currentRadio = radioInputs.item(i)
    currentRadio.checked = false;
  }
}else if( '{{ player.timesInstruction3a }}' == '0' && '{{ player.timesInstruction3b }}' == '1'){

  var radioInputs = document.getElementsByClassName("form-check-input")

  for (i = 0; i < radioInputs.length; i++) {
    var currentRadio = radioInputs.item(i)
    if(i<2){
      if(!currentRadio.checked) currentRadio.disabled = true

    }else{
      currentRadio.checked = false;
    }
  }

  } else if ( '{{ player.timesInstruction3a }}' == '1' && '{{ player.timesInstruction3b }}' == '0'){

  var radioInputs = document.getElementsByClassName("form-check-input")

  for (i = 0; i < radioInputs.length; i++) {
    var currentRadio = radioInputs.item(i)
    if(i>=2){
      if(!currentRadio.checked) currentRadio.disabled = true

    }else{
      currentRadio.checked = false;
    }
  }

} else {

  var radioInputs = document.getElementsByClassName("form-check-input")

  for (i = 0; i < radioInputs.length; i++) {
    var currentRadio = radioInputs.item(i)
    currentRadio.checked = false;
  }
}

//#############  SUBMITION  ####################
checkButton.onclick = function () {
  var radioInputs = document.getElementsByClassName("form-check-input")
  var answerSelected = ""
  var answerSelected2 =""
  for (i = 0; i < radioInputs.length; i++) {
    if(radioInputs.item(i).checked && i<=1) {
      answerSelected = radioInputs.item(i).value;
    }else if(radioInputs.item(i).checked && i>1){
      answerSelected2 = radioInputs.item(i).value;
    }
  }

  if(answerSelected!=""&&answerSelected2!="") {

    for (i = 0; i < radioInputs.length; i++) {
      if (!radioInputs.item(i).checked) {
        radioInputs.item(i).disabled = true;
      }
    }

    if( '{{ player.timesInstruction3a }}' == '0' && '{{ player.timesInstruction3b }}' == '0') {
      if (answerSelected != '{{ correct_answer }}') {

      } else {

      }if (answerSelected2 != '{{ correct_answer }}') {

      } else {

      }
    }else {
      if (answerSelected == '{{ correct_answer }}') {

      } else {

      }

      if (answerSelected2 == '{{ correct_answer }}') {
        explanation2.innerHTML = "<e style=\"color:green\">Correct!</e> "
      } else {
        console.log(answerSelected2+","+ radioInputs.item(0).value +","+radioInputs.item(1).value   )

      }

    }
  }
}
</script>

{% endblock %}
