{% extends "global/Page.html" %}
{% load static otree %}

{% block title %} Quiz 1 {% endblock %}

{% block content %}

<div class="card bg-transparent">

  <div class="card-header">
    <h1>COMPREHENSION QUIZ 1/4</h1>
  </div>

  <div class="card-body">

    <div>
      <p>Q1:</p>
      {{ form.quiz_1.label_tag }}
      {{ form.quiz_1 }}
      {{ form.quiz_1.errors }}
      {% include './blocks/message-box.html' %}
     </div>


  </div>

  {% include './blocks/quiz-buttons.html' %}

</div>

{% endblock %}
