{% extends "global/Page.html" %}
{% load static otree %}

{% block title %} Quiz 3 {% endblock %}

{% block content %}

<div class="card bg-transparent">
  <h1>COMPREHENSION QUIZ 3/4</h2>
    <div class="card-body">

    <div class="form-group" id='{{ form.quiz_3a.html_name }}'>
    <p>Q3b:</p>
      {{ form.quiz_3a.label_tag }}
      {{ form.quiz_3a }}
      {{ form.quiz_3a.errors }}
      {% include './blocks/message-box.html' with field_id=form.quiz_3a.html_name hint_text=Constants.q3.0.hint %}
    </div>

    <div class="form-group" id='{{ form.quiz_3b.html_name }}'>
    <p>Q3b:</p>
      {{ form.quiz_3b.label_tag }}
      {{ form.quiz_3b }}
      {{ form.quiz_3b.errors }}
      {% include './blocks/message-box.html' with field_id=form.quiz_3b.html_name hint_text=Constants.q3.1.hint %}
    </div>

  </div>

    {% include './blocks/quiz-buttons.html' %}

</div>

{% endblock %}
