{% extends "global/Page.html" %}
{% load static otree %}

{% block styles %} <link href="{% static 'main_app/style.css' %}" rel="stylesheet">{% endblock %}

{% block title %}{% if is_trial %} OT: 12-Round Test Game {% else %} GAME: {{ current_month }} Investment {% endif %} {% endblock %}

{% block content %}
    <div class="card bg-transparent">
        <div class="card-body">
            {% if is_trial %}
                <h5>TRIAL GAME</h5>
            {% else %}
                <h5><b>THE REAL GAME</b></h5>
                <h4><b>{{ current_month }} INVESTMENT</b></h4>
            {% endif %}

        {% if player.round_number == 1 %}
            <p>
                Before we proceed, we’ll ask you to play a 12-round test game with simulated random feedback so that
                you can get familiar with the the setup of the game, the slider tool with which you can invest your
                energy tokens.
            </p>
        {% endif%}

        <div class="card" style="background: linear-gradient(to right ,#eef3f8, #dae5f1,#eef3f8) no-repeat;">
            <div class="card-body">

                {% if is_trial %}
                <h4>
                    {{ current_month }} (round
                    {% if current_round != 0 %}
                        {{ current_round }}): Investment
                    {% else %}
                        12): Investment
                    {% endif %}
                </h4>
                {% endif %}
                <h4>
                    <b>You have <em class="tk_out">{{ player.previous_tokens_left }}</em>.</b>
                </h4>
                <h4>
                    <b>How many energy tokens do you want to invest to the House Conservation Fund?</b>
                </h4>
                <p>
                    Click on the slider to get a handle with which to choose any value between 0 and 10.
                </p>

                <em style="font-size: 30px;margin: 5px;">0</em> <input id="myRange" type='range' min='0' max='10' value=3 step='1' name="contribution"/> <em style="font-size: 30px;margin: 5px;">10</em>
                <p></p>
                <h4><b>You will contribute to House Conservation Fund:</b> <em class="tk_out"><b><span id="group"></span></b></em> energy tokens</h4>
                <h4><b>You will keep for personal benefit:</b> <em class="tk_out"><b><span id="personal"></span></b></em> energy tokens</h4>


                {% if not is_trial %}
                    <h4><b>You are left with: </b> <em class="tk_out"><b><span id="left"></span></b></em> energy tokens for the rest of the months</h4>
                {% endif%}

                <input type="hidden" name="{{ is_trial }}" value='{{ player.previous_tokens_left }}' id="id_my_hidden_input"/>


                <script src="{% static 'main_app/slider.js' %}" ></script>
                {% next_button %}


            </div>
        </div>



        </div>
    </div>


{% endblock %}