.debug-info {
  display: none;
}

.hide {
  display: none;
}

html {
  background: white !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#myProgress {
  width: 100%;
  position: absolute;
  background: lightgray;
  top: 0;
}

#myBar {
  width: 1%;
  height: 30px;
}

.otree-title {
  font-size: 0;
  color: white !important;
}

.game-variable {
  background: #efefef;
  padding: 0 0.25em;
  font-size: 1.1em;
  border: 1px solid #ddd;
}

.instructions { margin-bottom: 20px; }

.icon-type {
  font-size: 4em;
  padding: 0 10px;
  font-weight: bold;
}

.color-red { color: red }
.flex-row { display: flex; }
.flex-center { justify-content: center; }
.flex-item { flex: 1; }
.flex { display: flex; }
.text-center { text-align: center; }
.flex-vcenter { align-items: center; }

.model-card {
  font-size: 1.5em;
  padding: 5px;
  font-weight: bold;
  line-height: 1;
  border: 2px solid #aaa;
  border-radius: 20px;
}

.card-header {

}

.card-header h1 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
}

blockquote {
  font-style: italic;
  color: #666666;
  margin: .5em 0 .5em 1em;
}

p {
  font-size: 18px;
  text-align: left !important;
}

.form-control-errors {
  text-align: center;
}

#contribution_box {
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 10%;
  height: 20px;
  margin-bottom: 10px;
  text-align: center;
  outline: none !important;
  box-shadow: 0 0 10px transparent;
}
.pr {
  color: #a700a8;
}

.others {
  color: #a700a8;
}

.tk_out {
  color: #0000ff;
}

.otree-title {
  text-align: center;
}

#htext1 {
 color: #e36c09;
}

html {
  height: 100%;
  background: linear-gradient(to right ,transparent, #dae5f1, transparent) no-repeat;
}

input[type='range'] {
  border-width: 0 2.25em 1.875em;
  padding: 0;
  width: 80%;
  background: transparent;
  font: 1em courier, monospace;
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  box-sizing: border-box;
  border: solid 1px #627d9e;
  width: 100%;
  height: 0.75em;
  background: transparent;
}

input[type='range']::-moz-range-progress {
  height: 0.75em;
  box-sizing: border-box;
  border: solid 1px #66534e;
  background: linear-gradient(to right ,#627d9e, #366092) no-repeat;
}

input[type='range']::-moz-range-progress {
  height: 0.75em;
  box-sizing: border-box;
  border: solid 1px #66534e;
  background: linear-gradient(to right ,#627d9e, #366092) no-repeat;
}

input[type='range']::-moz-range-thumb {
  border-radius: 0;
  box-sizing: border-box;
  width: 0.6em;
  height: 2.5em;
  box-shadow: inset 0 0 0.125em rgba(64, 102, 10, 0.5);
  background: linear-gradient(-45deg, transparent 50%, #366092 50%, #627d9e) #627d9e;
  cursor: ew-resize;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  border: solid 1px #366092;
  width: 100%;
  height: 0.75em;
  background: linear-gradient(to right ,#366092, #627d9e,#eef3f8) no-repeat;;
}

input[type='range']::-webkit-slider-thumb {
  margin-top: -0.875em;
  width: 0.6em;
  height: 2.5em;
  background: linear-gradient(-45deg, transparent 50%, #366092 50%, #627d9e) #627d9e;
}

input[type='range']:focus {
  outline: none;
  box-shadow: 0 0 0.125em transparent;
}

input[type="radio"] {
  padding: 1em !important;
  font-size: 2em;
  width: 20px;
  height: 20px;
}

input[type="radio"]:focus {
  outline: 2px solid #00a1ff;
  outline-style: dotted;
}

.flex-form-row .form-group {
  display: flex;
}

.flex-form-row .form-group label {
  padding-right: 1em;
}

/* tables */

.outline-row {
  outline: 3px solid red;
  outline-offset: 2px;
}

table {
  margin-top: 1em;
  margin-bottom: 1em;
}

thead {
  font-size: 0.9em;
}

tr > td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

tr > th:nth-child(n+2),
tr > td:nth-child(n+2) {
  text-align: center;
}

tr > th:first-of-type,
tr > td:first-of-type {
  padding-left: 5px;
  text-align: left;
}

tr > td:last-of-type {
  padding-right: 5px;
}
