
.percenttogoal {

}

.debug-info {
  display: block;
}

.quiz_message { display: none; }

.quiz_message .success_msg { display: none; }
.quiz_message.show-success { display: block; }
.quiz_message.show-success .success_msg { display: block; }

.quiz_message .hint_text { display: none; }
.quiz_message.show-hint { display: block; }
.quiz_message.show-hint .hint_text { display: block; }


.hide {
  display: none;
}

html {
  background: white !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#myProgress {
  width: 100%;
  position: absolute;
  background: lightgray;
  top: 0;
}

#myBar {
  width: 1%;
  height: 30px;
}

#carbonfund_reduction_lbs {
  font-size: 20px;
  position: absolute;
  top: 59%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#carbonfund_reduction_date {
  position: absolute;
  bottom: 27%;
  left: 11%;
  font-weight: bold;
}

.otree-title {
  font-size: 0;
  color: white !important;
}

.game-variable {
  background: #efefef;
  padding: 0 0.25em;
  font-size: 1.1em;
  border: 1px solid #ddd;
}

.instructions { margin-bottom: 20px; }

.icon-type {
  font-size: 4em;
  padding: 0 10px;
  font-weight: bold;
}
.color-red { color: red }

.flex { display: flex; }
.flex-row { display: flex; }
.flex-center { justify-content: center; }
.flex-vcenter { align-items: center; }
.flex-item { flex: 1; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.text-center { text-align: center; }
.flex-form-row .form-group { display: flex; }
.flex-form-row .form-group label { padding-right: 1em; }
.flex-distribute { justify-content: space-between; }

.m0 { margin: 0; }
.p0 { padding: 0; }

.mx-0 { margin-left: 0; margin-right: 0; }
.px-0 { padding-left: 0; padding-right: 0; }

.my-0 { margin-top: 0; margin-bottom: 0; }
.py-0 { padding-top: 0; padding-bottom: 0; }
.my-1 { margin-top: .33em; margin-bottom: .33em; }
.py-1 { padding-top: .33em; padding-bottom: .33em; }


.mx-1 { margin-left: 0.33em; margin-right: 0.33em; }
.mx-2 { margin-left: 0.66em; margin-right: 0.66em; }
.mx-3 { margin-left: 0.99em; margin-right: 0.99em; }
.mx-4 { margin-left: 1.33em; margin-right: 1.33em; }
.mx-5 { margin-left: 1.66em; margin-right: 1.66em; }

.model-card {
  font-size: 1.5em;
  padding: 5px;
  font-weight: bold;
  line-height: 1;
  border: 2px solid #aaa;
  border-radius: 20px;
}

.card-header {

}

.card-header h1 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
}

.card-title {

}

.game-title {
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em 0 0 0;
  margin: 0;
  text-decoration: underline;
}

.game-card {
  background:
    linear-gradient(
      to right,
      #eef3f8,
      #dae5f1,
      #eef3f8
    )
    no-repeat;
}

blockquote {
  font-style: italic;
  color: #666666;
  margin: .5em 0 .5em 1em;
}

p {
  font-size: 18px;
  text-align: left !important;
}

.form-control-errors {
  text-align: center;
}

#contribution_box {
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.token-box {
  font-size: 1em;
  width: 2em;
  padding: 5px 2px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  vertical-align: baseline;
}

.quiz-buttons .disabled {
  display: none;
}

.color-personal,
.pr {
  color: var(--purple);
}

.color-conserve {
  color: var(--blue);
}

.others {
  color: #a700a8;
}



.tk_out {
  color: #0000ff;
}

.otree-title {
  text-align: center;
}

#htext1 {'
 color: #e36c09;
}

html {
  height: 100%;
  background: linear-gradient(to right ,transparent, #dae5f1, transparent) no-repeat;
}

input[type='range'] {
  border-width: 0 2.25em 1.875em;
  padding: 0;
  width: 80%;
  background: transparent;
  font: 1em courier, monospace;
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  box-sizing: border-box;
  border: solid 1px #627d9e;
  width: 100%;
  height: 0.75em;
  background: transparent;
}

input[type='range']::-moz-range-progress {
  height: 0.75em;
  box-sizing: border-box;
  border: solid 1px #66534e;
  background: linear-gradient(to right ,#627d9e, #366092) no-repeat;
}

input[type='range']::-moz-range-progress {
  height: 0.75em;
  box-sizing: border-box;
  border: solid 1px #66534e;
  background: linear-gradient(to right ,#627d9e, #366092) no-repeat;
}

input[type='range']::-moz-range-thumb {
  border-radius: 0;
  box-sizing: border-box;
  width: 0.6em;
  height: 2.5em;
  box-shadow: inset 0 0 0.125em rgba(64, 102, 10, 0.5);
  background: linear-gradient(-45deg, transparent 50%, #366092 50%, #627d9e) #627d9e;
  cursor: ew-resize;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  border: solid 1px #366092;
  width: 100%;
  height: 0.75em;
  background: linear-gradient(to right ,#366092, #627d9e,#eef3f8) no-repeat;;
}

input[type='range']::-webkit-slider-thumb {
  margin-top: -0.875em;
  width: 0.6em;
  height: 2.5em;
  background: linear-gradient(-45deg, transparent 50%, #366092 50%, #627d9e) #627d9e;
}

input[type='range']:focus {
  outline: none;
  box-shadow: 0 0 0.125em transparent;
}

input[type="radio"] {
  padding: 1em !important;
  font-size: 2em;
  width: 20px;
  height: 20px;
}

input[type="radio"]:focus {
  outline: 2px solid #00a1ff;
  outline-style: dotted;
}

/* tables */

.outline-row {
  outline: 3px solid red;
  outline-offset: 2px;
}

table {
  margin-top: 1em;
  margin-bottom: 1em;
}

thead {
  font-size: 0.9em;
}

tr > td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

tr > th:nth-child(n+2),
tr > td:nth-child(n+2) {
  text-align: center;
}

tr > th:first-of-type,
tr > td:first-of-type {
  padding-left: 5px;
  text-align: left;
}

tr > td:last-of-type {
  padding-right: 5px;
}

.text-small {
  font-size: .9em;
}
