.color-personal,
.pr {
  color: var(--purple);
}

.color-conserve {
  color: var(--blue);
}

.others {
  color: var(--purple);
}

.tk_out {
  color: var(--red);
}

.color-red { color: red }

.otree-title {
  text-align: var(--orange);
}

#htext1 {
 color: #e36c09;
}

html {
  height: 100%;
  background: linear-gradient(to right, transparent, #dae5f1, transparent) no-repeat;
}


/* .percenttogoal {} */

.debug-info {
  display: block;
}

.quiz_message { display: none; }
.quiz_message.show-success { display: block; }
.quiz_message.show-hint { display: block; }

.quiz_message .quiz_hint { display: none; }
.quiz_message.show-hint .quiz_hint { display: block; }

.quiz_message .success_msg { display: none; }
.quiz_message.show-success .quiz_hint { display: none; }
.quiz_message.show-success .success_msg { display: block; }


.hide {
  display: none;
}

html {
  background: white !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#myProgress {
  width: 100%;
  position: absolute;
  background: lightgray;
  top: 0;
}

#myBar {
  width: 1%;
  height: 30px;
}

#carbonfund_reduction_lbs {
  font-size: 20px;
  position: absolute;
  top: 59%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#carbonfund_reduction_date {
  position: absolute;
  bottom: 27%;
  left: 11%;
  font-weight: bold;
}

.otree-title {
  font-size: 0;
  color: white !important;
}

.game-variable {
  background: #efefef;
  padding: 0 0.25em;
  font-size: 1.1em;
  border: 1px solid #ddd;
}



.instructions { margin-bottom: 20px; }

.icon-type {
  font-size: 4em;
  padding: 0 10px;
  font-weight: bold;
}

.flex { display: flex; }
.flex-row { display: flex; }
.flex-center { justify-content: center; }
.flex-vcenter { align-items: center; }
.flex-valign { align-items: flex-start; }
.flex-item { flex: 1; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.text-center { text-align: center; }
.flex-form-row .form-group { display: flex; }
.flex-form-row .form-group label { padding-right: 1em; }
.flex-distribute { justify-content: space-between; }

.m0 { margin: 0; }
.p0 { padding: 0; }

.mx-0 { margin-left: 0; margin-right: 0; }
.px-0 { padding-left: 0; padding-right: 0; }

.my-0 { margin-top: 0; margin-bottom: 0; }
.py-0 { padding-top: 0; padding-bottom: 0; }
.my-1 { margin-top: .33em; margin-bottom: .33em; }
.py-1 { padding-top: .33em; padding-bottom: .33em; }


.mx-1 { margin-left: 0.33em; margin-right: 0.33em; }
.mx-2 { margin-left: 0.66em; margin-right: 0.66em; }
.mx-3 { margin-left: 0.99em; margin-right: 0.99em; }
.mx-4 { margin-left: 1.33em; margin-right: 1.33em; }
.mx-5 { margin-left: 1.66em; margin-right: 1.66em; }


.text-big { font-size: 2em; }
.text-reg { font-size: 1.2em; }
.text-small { font-size: .9em; }




.model-card {
  font-size: 1.5em;
  padding: 5px;
  font-weight: bold;
  line-height: 1;
  border: 2px solid #aaa;
  border-radius: 20px;
}

.card-header {

}

.card-header h1 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
}

.card-title {

}

.game-title {
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em 0 0 0;
  margin: 0;
  text-decoration: underline;
}

.game-card {

}

.z1 {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.gradient_bg-lt {
  background: linear-gradient(to right ,#eef3f8, #dae5f1,#eef3f8) no-repeat;
}
.game-card .game-title {
  font-size: 1.5em;
}
.game-row {
  font-size: 1.5em;
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
}
.game-row input { flex: 1; }
.game-row .input-paceholder { flex: 1; }
.game-row label { flex: 9; }



blockquote {
  font-style: italic;
  color: #666666;
  margin: .5em 0 .5em 1em;
}

p {
  font-size: 18px;
  text-align: left !important;
}

.form-control-errors {
  text-align: center;
}

#contribution_box {
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.token-box {
  font-size: 1em;
  width: 2em;
  padding: 5px 2px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  vertical-align: baseline;
}

.quiz-buttons .disabled {
  display: none;
}


input[type="radio"] {
  padding: 1em !important;
  font-size: 2em;
  width: 20px;
  height: 20px;
}

input[type="radio"]:focus {
  outline: 2px solid #00a1ff;
  outline-style: dotted;
}

/* tables */

.outline-row {
  outline: 3px solid red;
  outline-offset: 2px;
}

table {
  margin-top: 1em;
  margin-bottom: 1em;
}

thead {
  font-size: 0.9em;
}

tr > td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

/* tr > th:nth-child(n+2),
tr > td:nth-child(n+2) {
  text-align: center;
} */

tr > th:first-of-type,
tr > td:first-of-type {
  padding-left: 5px;
  text-align: left;
}

tr > td:last-of-type {
  padding-right: 5px;
}

/* POST GAME */
.form-group ul {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.table tr th {
  text-align: center;
}
.form-group label {
  flex: 1 0;
}
.form-group {
  display: flex;
  margin-bottom: 1rem;
  justify-content: stretch;
}
.form-group .controls select,
.form-group .controls {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.survey-section-title {
  font-size: 1.2em;
  margin: 1em 0;
  font-weight: bold;
}
