<h2 style="padding-left: 10px; text-align: center">RESEARCH PARTICIPANT CONSENT FORM</h2>


<center>
  <i>Feedback Design for Sustainable Home Energy Management<br>
    PI: Sabine Brunswicker, Technology Leadership and Innovation<br>
    Co-PIs: Dr. Leigh Raymond, Political Science, and Marlen Promann, Computer Graphics Technology<br>
    Purdue University<br>
    <b>#IRB-2019-540</b><br>
  </i>

</center>


<h3>Key Information</h3>


<p>Please take time to review this information carefully. This is a research study. Your participation in this study is voluntary which means that you may choose not to participate at any time. You may ask questions to the researchers about the study whenever you would like. If you decide to take part in the study, you will be asked to sign this form, be sure you understand what you will do and any possible risks or benefits. The purpose of this research is to learn about how people make energy-related decisions. Study will last no more than 60 minutes. </p>


<h3>What is the purpose of this study?</h3>


<p>The purpose of this study is to pilot the instructions, verbiage, and interactions of a study planned to research how people make energy-related decisions in a group environment. We would like to enroll up to 50 people in this pilot.</p>


<h3>What will I do if I choose to be in this study?</h3>


<p>Your participation will engage you in an energy conservation game with simulated players and give us feedback at every step of the way. Please notify us of all issues (technical, linguistic, comprehension, etc.), questions, or concerns you may have about any part of out study. </p>


<p>You will first read the instructions on how to play the game and you'll be asked to answer a few questions about the instructions to make sure you understood the rules of the game. Then you will complete one or more games in which you will make decisions as a resident of a group of households trying to achieve an energy conservation goal. Depending on your energy choices and those of others, you will earn a smaller or larger financial bonus. </p>


<h3>What are the possible risks or discomfort</h3>

<p>
  Breach of confidentiality is a potential risk for all research. The researchers have taken actions to minimize this risk. The safeguards to prevent such a risk can be found in the Confidentiality section of the form. There are no additional risks from the study more serious than those in everyday life.
</p>

<h3>Are there any potential benefits?</h3>

<p>Despite the game instructions promising a carbon offset, there will not be any such benefit during this pilot. Actual air pollution reduction benefits will be used when the study is finalized and launched for data collection.</p>


<h3>What alternatives are available</h3>

<p>
  You may choose not to participate in this study.
</p>

<h3>Will I receive payment or other incentive?</h3>

<p>
  You will earn a $10 Amazon voucher from participating in this study. Depending on your decisions and those of the other participants in the task during the exercise, you may earn additional funds.
</p>

<h3>Will information about me and my participation be kept confidential</h3>

<p>
  You will not be asked to provide your name or any other identifying information during the study. Data from these experiments will be retained electronically on a password protected computer, identified only by participant numbers (anonymized strings with no personal information), and accessed only by members of the research team. Your voice will be marked and transcribed. No personal data will be collected. This data will be retained past the end of the project for replicability of any published results and possible future analysis. The project's research records may be reviewed by the National Science Foundation and by departments at Purdue University responsible for regulatory and research oversight.
</p>

<h3>What are my rights if I take part in this study</h3>

<p>
  Your participation in this study is voluntary. You may choose not to participate or, if you agree to participate, you can withdraw your participation at any time without penalty.
</p>


<p>
  <strong>If you have questions, comments or concerns about this research project</strong>, you can talk to one of the researchers via email: <a href="mailto:opendigital@purdue.edu">opendigital@purdue.edu</a>. If you have questions about your rights while taking part in the study or have concerns about the treatment of research participants, please call the Human Research Protection Program at <a href="tel:765-494-5942">(765) 494-5942</a>, email (<a href="mailto:irb@purdue.edu">irb@purdue.edu</a>) or report anonymously via Purdue's Hotline: <a href="https://purdue.edu/hotline">www.purdue.edu/hotline.</a>
</p>


<p>
  <h3>Documentation of Informed Consent</h3>
</p>
<p>I HAVE HAD THE OPPORTUNITY TO READ THIS CONSENT FORM AND HAVE THE RESEARCH STUDY EXPLAINED. I AM PREPARED TO PARTICIPATE IN THE RESEARCH STUDY DESCRIBED ABOVE. I CAN REQUEST A COPY OF THIS INFORMED CONSENT DOCUMENT FOR MY OWN RECORDS. BY SIGNING IN THE BOX BELOW AND CLICKING THE FOLLOWING LINK, I AGREE TO PARTICIPATE IN THE STUDY DESCRIBED ABOVE.</p>
