{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}
  <h2 class="h2 my-3">
    This concludes the game section.
  </h2>

  <p>
    Before we show you the final game results, we will ask you a few questions.
  </p>

  <p class="">
    You will be compensated with an additional $ 0.05 for each of the pages of the following survey.
  </p>

  <p class="">
    Afterwards, you see the game results.
  </p>
{% endblock %}
