{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}

{% include './blocks/examples-table.html' %}

<hr>

<div class="explanation-content bc-inherit shadow-md">
  <p>
    Example 4 shows the results if <strong>ONLY YOU contribute</strong> tokens
    toward the conservation goal (all others contribute 0 tokens in
    each round), and Example 5 shows the results if <strong>ONLY YOU DON'T contribute</strong>
    any energy tokens to the conservation goal, but all 24 other players
    contribute ALL of theirs.
  </p>
</div>

{% endblock %}
