{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}

{% include './blocks/examples-table.html' %}

<hr>

<div class="explanation-content bc-inherit shadow-md">
<p>
  Example 2 shows the result if <strong>everyone contributes NO energy tokens</strong> toward
  the conservation goal, and  Example 3 shows the highest possible pay to all players that
  results from <strong>everyone contributing ALL of their energy tokens</strong> to the conservation goal.
</p>
</div>

{% endblock %}
