{% extends "global/Page.html" %}
{% load static otree %}

{% block title %} RESEARCH PARTICIPANT CONSENT FORM {% endblock %}

{% block content %}

{% include "./forms/consent-form-student.html" %}

<div id="signature-pad" class="signature-pad">

  <div class="signature-pad--body" style="border: 1px solid #aaa;">
    <canvas style="width: 100% !important;height: 200px !important;"></canvas>
  </div>

  <div class="signature-pad--footer">
    <div class="description" style="text-align: center; color: #8d8d8d;">Sign above</div>
    <div class="signature-pad--actions">

      <div class="text-right" role="group">
        <button type="button" class="btn mx-3 btn-lg btn-outline-secondary" data-action="clear">Clear</button>
        <button class="otree-btn-next btn btn-success btn-lg" data-action="next" disabled>I agree</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'global/signature_pad.umd.js' %}"></script>
<script>
var wrapper = document.getElementById("signature-pad");
var clearButton = wrapper.querySelector("[data-action=clear]");
var nextButton = wrapper.querySelector("[data-action=next]");
var canvas = wrapper.querySelector("canvas");
var signaturePad = new SignaturePad(canvas, {
  backgroundColor: 'rgb(250, 250, 250)'
});

function resizeCanvas() {
  var ratio =  Math.max(window.devicePixelRatio || 1, 1);
  canvas.width = canvas.offsetWidth * ratio;
  canvas.height = canvas.offsetHeight * ratio;
  canvas.getContext("2d").scale(ratio, ratio);
  signaturePad.clear();
}

window.onresize = resizeCanvas;
resizeCanvas();

clearButton.addEventListener("click", function (event) {
  signaturePad.clear();
  nextButton.disabled = true;
});

nextButton.addEventListener("click", function (event) {
  if (signaturePad.isEmpty()) {
    event.preventDefault();
    alert("Please provide a signature first.");
    return false;
  }
});

canvas.addEventListener("click" || "ontouch" || "touchstart", function (event) {
  nextButton.disabled = false;
});
</script>

{% endblock %}
