{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}

  <table id="table" class="game-card table my-0 shadow-md" style="text-align:left;">
    <tr class="bg-grey200 text-center shadow">
      <th class="text-left"></th>
      <th class="text-center">MONTH {{ current_round }}</th>
      <th class="text-center">CUMULATIVE TO DATE</th>
    </tr>

    <tr class="bd-dashed-bottom-2 bc-inherit">
      <td class="text-left"><span class="row-title"><strong>You</strong> put into your private account:</span></td>
      <td class="text-right color-private font-bold">{{ player_withheld }}</td>
      <td class="text-right color-private font-bold">{{ player_withheld_total }}</td>
    </tr>

    <tr>
      <td class="text-left"><span class="row-title"><strong>Your</strong> contribution to the group conservation account:</span></td>
      <td class="text-right color-carbon font-bold">{{ player_contribution }}</td>
      <td class="text-right color-carbon font-bold">{{ player_contribution_total }}</td>
    </tr>

    <tr class="text-muted">
      <td class="text-left"><span class="row-title"><strong>Other's</strong> total contributions to the group conservation account:</span></td>
      <td class="text-right color-carbon"><strong>{{ group_contribution }}</strong></td>
      <td class="text-right color-carbon"><strong>{{ group_contribution_total }}</strong></td>
    </tr>

    <tr class="font-bold">
      <td class="text-left"><span class="row-title">TOTAL group conservation account contributions:</span></td>
      <td class="text-right color-carbon"><strong>{{ contributions_round }}</strong></td>
      <td class="text-right color-carbon"><strong>{{ contributions_total }}</strong></td>
    </tr>
  </table>

  <p class="p-r2 mt-sm-3 text-center color-secondary font-italic text-small"><span class="text-muted">Average contribution</span>: <span class="font-bold">{{ avg_contrib }}</span></p>
  <p class="color-secondary text-small text-center font-italic ">
    Progress to date: <span class="">{{ contributions_total }}</span>/<span class="">900</span>
    = <span class="font-bold">{{ percent_goal }}%</span> of goal achieved
  </p>

{% endblock %}
