{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}
      <div class="row">
        <div class="col">
          <p class="font-bold">
            Now, we'll ask you to play 2 practice rounds so that you can get familiar with
            the game set up.
          </p>

          <p class="color-red font-bold">
            Remember, the decisions of other players during this practice game are random
            and DO NOT REPRESENT the actual decisions of other players.
          </p>

          <p class="color-red font-bold">
            Practice results DO NOT count toward your final payment.
          </p>
        </div>
      </div>
{% endblock %}
