{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}
<section class="quiz-section">
<div class="form-group" id='id_field_{{ form.q3b.html_name }}'>
  <strong>Q3b:</strong> {{ form.q3b.label_tag }}
  {{ form.q3b }}
  {{ form.q3b.errors }}
  {% include 'blocks/message-box.html' with field_id=form.q3b.html_name hint_text=q3b_hint %}
</div>
</section>
<div class="otree-form-errors">
  {{ form.non_field_errors }}
</div>

{% endblock %}

{% block page_footer_buttons %}
{% include 'blocks/quiz-buttons.html' %}
{% endblock %}
