{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}

<section class="quiz-section">

  <div class="form-group horiz-select" id='id_field_{{ form.q1.html_name }}'>
    <strong>Q1:</strong>{{ form.q1.label_tag }}
    {{ form.q1 }}
    {{ form.q1.errors }}
    {% include 'blocks/message-box.html' with field_id=form.q1.html_name hint_text=Constants.q1.0.hint %}
  </div>
</section>

<div class="otree-form-errors">
  {{ form.non_field_errors }}
</div>

{% endblock %}

{% block page_footer_buttons %}
  {% include 'blocks/quiz-buttons.html' %}
{% endblock %}
