{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col">
    {% include 'blocks/progress-steps.html' with step=current_round %}
  </div>
</div>

{% if current_round == 1 and game_type == "descriptive_text" %}
  <h4 class="my-3 px-3" style="line-height:150%;">
    Last month, <strong>you conserved 5</strong> energy tokens, while
    <strong>others conserved 5.5</strong> energy tokens on average.
  </h4>
{% endif %}

{% if current_round > 1 and game_type == "descriptive_text" %}
  <h4 class="my-3 px-3" style="line-height:150%;">
    Last month, <strong>you conserved {{ player_contributed }}</strong>
    energy tokens, while <strong>others conserved {{ avg_contrib }}</strong> energy tokens
    on average.
  </h4>
{% endif %}

{% if current_round == 1 and game_type == "injunctive_text" %}
  <h4 class="my-3 px-3" style="line-height:150%;">
    Last month, <strong>you conserved 5</strong> energy tokens, while <strong>
    others conserved 5.5</strong> energy tokens on average.
    Your energy conservation <strong>will eliminate air pollution in the US</strong>,
    which contribute to known health impacts such as childhood asthma and cancer.
  </h4>
{% endif %}

{% if current_round > 1 and game_type == "injunctive_text" %}
  <h4 class="my-3 px-3" style="line-height:150%;">
    Last month, <strong>you conserved {{ player_contributed }}</strong>
    energy tokens, while <strong>others conserved {{ avg_contrib }}</strong> energy tokens
    on average. Your energy conservation last month <strong>eliminated {{ carbon_reduction }} pounds of air pollution</strong>,
    which contribute to known health impacts such as childhood asthma and cancer.
  </h4>
{% endif %}

<div class="card game-card z1">
  <h2 class="card-title game-title">MONTH {{ current_round }} ({{ current_month }})</h2>
  <div class="card-body">

    <div class="row">
      <div class="col h2 py-1">
        <h4 class="fs-inherit lh-1 my-0">You have <span class="game-variable color-tokens">10</span> energy tokens.</h4>
      </div>
    </div>

    <div class="game-row flex flex-distribute flex-valign">
      <label>
        How much energy do you want to contribute to the group conservation account this month?
      </label>
      <div class="mx-2">
        <input id="contribution_box"
          class="token-box color-conserve game-variable fs-inherit"
          name="contributed"
          style="width:2.4em"
          onchange="document.getElementById('private_box').setAttribute('value', 10-this.value)"
          min="0"
          max="10"
          type="number"
          autofocus
        />
      </div>
    </div>

    <div class="game-row flex flex-distribute flex-vcenter">
      <label class="flex flex-vcenter">
        How much energy do you want to keep in your private account this month?
      </label>
      <div id="personal" class="mx-2 color-private game-variable token-box input-placeholder"></div>
      <input name="withheld" id="private_box" min="0" max="10" type="number" style="display:none"/>
    </div>
  </div>
</div>

<div class="form-control-errors" id="errors">{{ form.contributed.errors }}</div>

<script>

var contribution_box = document.getElementById("contribution_box");
var personal_output = document.getElementById("personal");
var errors = document.getElementById("errors")
var other_errors = document.getElementsByClassName("otree-form-errors").item(0)

if (other_errors != null) {
  other_errors.style.display = "none"
  errors.style.display = "block";
  errors.style.color = "#CC444B";
  errors.style.fontSize = "30px";
  errors.innerHTML = "Please enter a number of energy tokens";
  errors.style.background = "transparent"
  errors.style.marginBottom = "10px"
  errors.style.borderRadius = "15px"
}

contribution_box.oninput = function () {
  if (0 <= this.value && this.value <= 10) {

    errors.innerHTML = "";

    personal_output.innerHTML = 10 - this.value;
    errors.style.display = "none";
    if (other_errors !== null) {
      other_errors.style.display = "none";
    }

    contribution_box.style.background = "";
    contribution_box.style.color = '';

  } else if (this.value && this.value > 10) {
    errors.innerHTML = "You only have a number of 10 energy tokens";
    errors.style.display = "block";
    errors.style.color = "#CC444B";

    // errors.style.fontSize = "30px";
    // errors.style.background = "transparent"
    // errors.style.marginBottom = "10px"
    // errors.style.borderRadius = "15px"
    contribution_box.style.background = "#CC444B";
    contribution_box.style.color = 'white';

    personal_output.innerHTML = null;
  } else {
    personal_output.innerHTML = null;
    errors.innerHTML = "Therer was an error;";
  }
}

</script>

{% endblock %}
