{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="{% static 'global/charts.js' %}"></script>
<style>
  .axis text {
    font: 10px sans-serif;
  }

  svg {
    font-family: Helvetica, Arial, Sans-Serif;
  }
/*
text.axis-label {
  font-size: 14px;
  text-shadow: 1px 1px 1px #747474c2;
  font-weight: bold;
  fill: #58d6ea;
  font-family: 'Source Sans Pro', monospace;
  text-transform: uppercase;
}
*/
</style>
<div id="chart_container" class="card" style="background: white;"></div>

<script>
function drawRadialGraph(data, new_data) {
  let circle_edges = [0, 2, 4, 6, 8, 10];
  let width = 960
  let height = 500
  let radius = Math.min(width, height) / 2 - 30;
  let centerX = 0;
  let user_color = "#999";
  let others_color = "#555";

  let r = d3.scale.linear()
    .domain([0, 10])
    .range([radius, 0]);

  let svg = d3.select("#chart_container")
    .append("svg")
    .attr("height", height)
    .append("g")
    .attr("style", "width:100%; transform:translate(50%,50%);");

  let gr = svg.append("g")
    .attr("class", "r axis")
    .selectAll("g")
    .data(circle_edges)
    .enter()
    .append("g")
    .attr("fill", (d) => {
      let hex_color
      if (d < 3) {
        hex_color = "#EEE"
      } else if (d < 7) {
        hex_color = "#DDD"
      } else {
        hex_color = "#CCC"
      }
      return hex_color
    })

  gr.append("circle")
    .attr("r", r)

  svg.append("line")
    .attr("x1", 0)
    .attr("y1", 0)
    .attr("x2", 0)
    .attr("y2", -r(0))
    .attr("fill", "#707070")
    .attr("stroke", "#707070")
    .attr("stroke-width", 1.5);

  // plot points
  svg.selectAll("point")
    .data(data)
    .enter()
    .append("circle")
    .attr("class", "point")
    .attr("transform", function (d) {
      let angle = d[0]
      let radius = r(d[1])
      let x = radius * Math.cos(angle)
      let y = radius * Math.sin(angle)
      return `translate(${x},${y})`
    })
    .attr("r", 10)
    .attr("fill", function (d, i) {
      let is_user = d[2]
      return is_user ? user_color : others_color
    })

  svg.selectAll(".point")
    .data(new_data)
    .transition()
    .duration(1000)
    .attr("class", "point")
    .attr("transform", function (d) {
      let angle = d[0]
      let radius = r(d[1])
      let x = radius * Math.cos(angle)
      let y = radius * Math.sin(angle)
      return `translate(${x},${y})`
    })
    .attr("fill", function (d) {
      let is_user = d[2]
      return is_user ? user_color : others_color
    })

    // AXIS LABELS
    circle_edges.map((d, i) => {
      if (i < circle_edges.length) {

        let unit = ""
        if (i == 0) {
          unit = " tokens"
        }

        svg.append("text")
          .text(`${d} ${unit}`)
          .attr("class", "axis-label")
          .attr("transform", () => {
            return `translate(7, ${-r(d + .15)})`
          })
      }

      svg.append("path")
        .attr("transform", function () {
          return `translate(${0}, ${-r(d)})`
        })
        .attr("d", d3.svg.symbol().type("triangle-down"))
        .attr("fill", "#707070")
    })

  // LEGEND
  let user_legend = svg
     .append("g")
     .append("g")

  user_legend.append("circle")
    .attr("fill", user_color)
    .attr("cx", r(0) - 10)
    .attr("cy", r(0) - 5)
    .attr("r", 6);

  user_legend
    .append("text")
    .text("Your contribution")
    .attr("x", r(0))
    .attr("y", r(0));

  let others_legend = svg.append("g").append("g");

  others_legend.append("circle")
    .attr("fill", others_color)
    .attr("cx", r(0) - 10)
    .attr("cy", r(0) - 5 - 20)
    .attr("r", 6);

  others_legend
    .append("text")
    .text("Others' contributions")
    .attr("x", r(0))
    .attr("y", r(0) - 20);

}

let results = JSON.parse("{{ player_bots_contributions }}")
let my_contribution = parseInt("{{ player_contributed_value }}")
let user_id = parseInt("{{ player.id_in_group }}")

let old_data = JSON.parse(localStorage.getItem("old_data"));

if (old_data == null
    || typeof(old_data) != "object"
    || !old_data.hasOwnProperty("length")
    || old_data.length == 0
) {
  old_data = [];
  for (let i = 0; i < results.length; i++) {
    let term2 = [0, 10, false];
    old_data.push(term2);
  }

  // old_data.splice(user_id - 1, 0, [0, 10, true]);
  old_data.push([0, 10, true]);
}

let new_data = []

for (let i = 0; i < results.length; i++) {
  let term = [results[i], false]
  new_data.push(term)
}

// new_data.splice(user_id - 1, 0, [my_contribution, true])
new_data.push([my_contribution, true])

for (let i = 0; i < new_data.length; i++) {
  let angle = (i + 1) * Math.PI / (new_data.length / 2)
  new_data[i] = [
    angle,
    new_data[i][0],
    new_data[i][1]
  ]
}

drawRadialGraph(old_data, new_data);

localStorage.removeItem("old_data");
localStorage.setItem("old_data", JSON.stringify(new_data));
// let userID = parseInt("{{ player.id_in_group }}") - 1;
// let roundNumber = {{ round_number }};
// let randomArray = {{ Constants.offsets }};
// initProximityChart({newData, myContribution, userID, randomArray, roundNumber})
</script>

<p class="p-r2 my-1 mt-sm-3 text-center color-secondary font-italic text-small">
  <span class="text-muted">Group Size</span>: <span class="font-bold">{{ Constants.game_players }}</span>
</p>
<p class="p-r2 my-1 mt-sm-3 text-center color-secondary font-italic text-small">
  <span class="text-muted">Average contribution</span>: <span class="font-bold">{{ avg_contrib }} tokens</span>
</p>
<p class="my-1 color-secondary text-small text-center font-italic ">
  Progress to date: <span class="">{{ game_total_contrib }}</span>/<span class="">900</span>
  = <span class="font-bold">{{ percent_complete }}%</span> of goal achieved
</p>
{% endblock %}
