<div class="card-footer quiz-buttons">
  <button id="checkButton" type="button" class="btn" >Check Answers</button>
  <button id="reviewButton" class="otree-btn-next btn disabled">Review Instructions</button>
  <button id="nextButton" class="otree-btn-next btn disabled" style="width: 100px">Continue</button>
</div>

<script>
const checkButton = "#checkButton";
const nextButton = "#nextButton";
const reviewButton = "#reviewButton";

function formSuccess() {
  toggleButton(checkButton);
  enableButton(nextButton);
}

function formFail(data) {
  console.log(data);
  disableButton(checkButton);
  enableButton(reviewButton);
}

const checkForm = () => {
  var fields = document.querySelectorAll('.form-check-input');
  var fail = [];
  var answers = [];
  var correct = [];

  otree_form = document.querySelector('form#form');
  if (!otree_form.checkValidity()){
    console.log('form invalid');
    otree_form.reportValidity();
  }

  for (var field of fields)
    // field.disabled = true;
    // if (!field.checked) {
    //     if (field.value === 'True') {
    //       console.log('fail');
    //       fail.push(field);
    //     }
    // }

    console.log( field.id);
    if (field.checked) {
      group_id = field.id.slice(0,-2);
      answers.push(field.value);
      if (field.value === '{{ answer_key.0 }}') {
        document.querySelector(`#${group_id}_message`).classList.add('show-success');
        correct.push(field.value);
      } else {
        document.querySelector(`#${group_id}_message`).classList.add('show-hint');
        fail.push(field.value);
      }
      console.log(document.querySelector(`#${group_id}_message`));
    }

  if (answers.length === 0) {
    console.log('nothing selected');
    return false;
  }

  if (fail.length > 0) {
    console.log(`${answers.length} questions answered\n`, `${fail.length} incorrect answers`);
    return formFail(fail);
  } else {
    return formSuccess(fail);
  }
}

var explanation = document.getElementById("message_box");
document.querySelector(`${checkButton}`).onclick = checkForm;

</script>
