{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}


  {% include './blocks/examples-table.html' %}

  <hr>

  <div class="explanation-content bc-inherit shadow-md"> 
    <p>The next two examples show the result of unequal contribution where either:</p>

    <p>ONLY YOU CONTRIBUTE by giving ALL of your tokens to group conservation account, while ALL
    others do not contribute at all </p>

    <p>or where ONLY YOU DON'T CONTRIBUTE meaning you do
    not give any of your energy tokens to the group conservation account, but ALL OTHER
    players contribute ALL of theirs.</p>
  </div>

{% endblock %}
