{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}
      <div class="row">
        <div class="col">
          <p>Example 1 shows the result if all players contribute exactly <span class="game-variable">{{ game_goal }}%</span> of their energy tokens, consistent with the required group goal.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% include './blocks/examples-table.html' %}
        </div>
      </div>
{% endblock %}
