{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}

          {% include './blocks/examples-table.html' %}

      <hr>

      <div class="explanation-content bc-inherit color-cyan shadow-md">
        <p>The next two examples show outcome of the:</p>
        <p>
          <strong>MINIMUM CONTRIBUTION</strong> where ALL players put ALL their tokens into their own private accounts, <br>
        </p>
        <p>while the <strong>MAXIMUM CONTRIBUTION</strong> is when ALL players contribute ALL their energy tokens to the conservation account.</p>
      </div>
      
{% endblock %}
