{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}
      <div class="row">
        <div class="col">
          <p>
            Many communities in the US are trying to use less energy. In this experiment,
            you will play an energy conservation game with other players.
            Before you play the game you will review the following:
          </p>

          <ol>
            <li>Instructions on how to play the energy conservation game.</li>
            <li>Example scenarios of different game outcomes.</li>
            <li>A trial game (just 2 decision rounds)</li>
            <li>A comprehension quiz (including payments for correct answers).</li>
          </ol>

          <p>
            <strong>Please read the following rules carefully</strong>, because they will
            influence how large a payment you earn at the end.
          </p>
        </div>
      </div>
{% endblock %}
