{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}Game Play{% endblock %}

{% block content %}
<div class="card bg-transparent">

  <div class="card-header">
    <h1>INSTRUCTIONS: GAMEPLAY</h1>
  </div>

  <div class="card-body">
    <div class="container" style="height: 90%">
      <div class="row">
        <div class="col">
          <ul>
            <li>
              <strong>In each month</strong> all players are asked simultaneously: "How
              much energy do you want to contribute to group conservation account this month?"<br>
              You may choose to contribute anywhere from <span class="game-variable">0</span>
              to <span class="game-variable">{{ game_tokens }}</span> of your monthly energy tokens.<br>
              The remaining tokens will be put in your private account.
            </li>

            <li>
              <strong>After each month</strong> (once all players have made their choices)
              the month's results will be displayed to all players. You'll get updates on
              the <strong>group conservation account</strong>, other player's
              contributions, and your private account. This feedback is anonymized.
            </li>

            <li>
              <strong>At the end of the game</strong> (after <span class="game-variable">{{ game_rounds }}</span> months) each player will be
              paid based on the rules described on the next page.
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="otree-btn-next btn" style="width: 100px">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
