{% extends "global/Page.html" %}
{% load static otree %}

{% block title %} RESEARCH PARTICIPANT CONSENT FORM {% endblock %}

{% block content %}
<div class="card bg-transparent">
  <div class="card-body">

    <h2 style="padding-left: 10px; text-align: center">RESEARCH PARTICIPANT CONSENT FORM</h2>
    <center>
      <i>Feedback Design for Sustainable Home Energy Management<br>
PI: Sabine Brunswicker, Technology Leadership and Innovation<br>
Co-PIs: Dr. Leigh Raymond, Political Science, and Marlen Promann, Computer Graphics Technology<br>
Purdue University<br>
<b>#IRB-2019-540</b><br>
<br>
</i>
    </center>

    <h3>Key Information:</h3>

    <p>Please take time to review this information carefully. This is a research study. Your participation in this study is voluntary which means that you may choose not to participate at any time. If you decide to take part in the study, you will be asked to sign this form, be sure you understand what you will do and any possible risks or benefits. The purpose of this research is to learn about how people make energy-related decisions. Study will last no more than 60 minutes.</p>

    <h3>Purpose of Research:</h3>

    <p>The purpose of this research is to learn about how people make energy-related decisions. To do this, we shall initially omit some information from you, but we shall explain it to you at the end of the study. We would like to enroll up to 1,000 people in this study.</p>

    <h3>What You'll Be Doing:</h3>

    <p>Your participation will engage you in an energy conservation game with other players. You will first be presented with instructions on how to play the game and you'll be asked to answer a few questions about the instructions to make sure you understood the rules of the game. Then you will complete one or more games in which you will make decisions as a resident of a group of households trying to achieve an energy conservation goal. Depending on your energy choices and those of others, you will earn a smaller or larger financial incentive. Participation in this research is voluntary and open to those aged 18 and older. You are free to stop participating at any time.</p>

    <h3>Possible Risks or Discomforts:</h3>

    <p>There are a number of validity checks embedded in this study to ensure that you are not a robot and are in fact fully reading and answering each question. A unique combination of answers to those questions may result in your participation being rejected. Breach of confidentiality is a potential risk for all research. The researchers have taken actions to minimize this risk. The safeguards to prevent such a risk can be found in the Confidentiality section of the form. There are no additional risks from the study more serious than those in everyday life.</p>

    <h3>Potential Benefits:</h3>

    <p>You will earn a minimum of $0.50 from participating in this experiment. Depending on your decisions and those of the other participants in the task, you may earn additional funds. There may be pollution reduction benefits that result from this study.</p>

    <h3>Available Alternatives:</h3>

    <p>You may choose not to participate in this study.</p>

    <h3>Confidentiality:</h3>

    <p>You will not be asked to provide your name or any other identifying information during the study. Data from these experiments will be retained electronically on a password protected computer, identified only by the Worker IDs (anonymized strings with no personal information), and accessed only by members of the research team. This data will be retained past the end of the project for replicability of any published results and possible future analysis. The project's research records may be reviewed by the National Science Foundation and by departments at Purdue University responsible for regulatory and research oversight.</p>

    <h3>Your Rights:</h3>

    <p>Your participation in this study is voluntary. You may choose not to participate or, if you agree to participate, you can withdraw your participation at any time without penalty.</p>

    <p><strong>If you have questions, comments or concerns about this research project</strong>, you can talk to one of the researchers via email: <a href="mailto:opendigital@purdue.edu">opendigital@purdue.edu</a>. If you have questions about your rights while taking part in the study or have concerns about the treatment of research participants, please call the Human Research Protection Program at <a href="tel:765-494-5942">(765) 494-5942</a>, email (<a href="mailto:irb@purdue.edu">irb@purdue.edu</a>) or report anonymously via Purdue's Hotline: <a href="https://purdue.edu/hotline">www.purdue.edu/hotline.</a></p>

    <h3>Documentation of Informed Consent:</h3>

    <p>I HAVE HAD THE OPPORTUNITY TO READ THIS CONSENT FORM AND HAVE THE RESEARCH STUDY EXPLAINED. I AM PREPARED TO PARTICIPATE IN THE RESEARCH STUDY DESCRIBED ABOVE. I CAN SCREEN PRINT THIS INFORMED CONSENT DOCUMENT FOR MY OWN RECORDS. BY SIGNING IN THE BOX BELOW AND CLICKING THE FOLLOWING LINK, I AGREE TO PARTICIPATE IN THE STUDY DESCRIBED ABOVE.</p>

    <p><strong>Please LEAVE THE Amazon Turk WINDOW OPEN as you complete the study</strong>. When finished, you will return to that page to paste the study completion CODE into the Amazon Turk box. This is technically needed for you to receive your payment.</p>

    <br>
    <center>
      <i>Human Research Protection Program - Purdue University<br>
        Ernest C. Young Hall, Room 1032r<br>
        155 S. Grant St.,<br>
        West Lafayette, IN 47907-2114</i>
      </center>
      <br><br>
    <div id="signature-pad" class="signature-pad">

      <div class="signature-pad--body" style="border: 1px solid #aaa;">
        <canvas style="width: 100% !important;height: 200px !important;"></canvas>
      </div>

      <div class="signature-pad--footer">
        <div class="description" style="text-align: center; color: #8d8d8d;">Sign above</div>
        <div class="signature-pad--actions">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-light" data-action="clear">Clear</button>
            <button class="otree-btn-next btn btn-success btn-block" data-action="next" style="display: none;">I agree</button>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'main_app/signature_pad.umd.js' %}"></script>

    <script src="{% static 'main_app/app.js' %}"></script>
  </div>
</div>

{% endblock %}
