{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}

  <table id="table" class="game-card table my-0 shadow-md" style="text-align:left;">
    <tr class="bg-grey200 text-center shadow">
      <th class="text-left">MONTH: {{ current_round }} ({{ current_month }})</th>
      <th class="text-center">{{ current_month }}</th>
      <th class="text-center">CUMULATIVE</th>
      <th></th>
    </tr>
      <tr>
        <td class="text-left"><span class="row-title">You put into your private account:</span></td>
        <td class="text-right color-private font-bold">{{ player_contribution }}</td>
        <td class="text-right color-private font-bold">{{ player_contribution_total }}</td>
        <td></td>
      </tr>

      <tr class="bd-dashed-bottom-2 bc-inherit">
        <td class="text-left"><span class="row-title">Your contribution to the group conservation account:</span></td>
        <td class="text-right color-conserve font-bold">{{ player_withheld }}</td>
        <td class="text-right color-conserve font-bold">{{ player_withheld_total }}</td>
        <td></td>
      </tr>

      <tr class="text-muted">
        <td class="text-left"><span class="row-title">Other residents total contributions to the group conservation account:</span></td>
        <td class="text-right"><span class="">{{ group_contribution }}</span></td>
        <td class="text-right"><span class="">{{ group_contribution_total }}</span></td>
        <td id-="token_avg"><span class="text-muted">Avg: {{ avg_contrib }}</span></td>
      </tr>

      <tr>
        <td class="text-left"><span class="row-title">Total group conservation account contributions:</span></td>
        <td class="text-right"><span class="font-bold">{{ contributions_round }}</span></td>
        <td class="text-right"><span class="font-bold">{{ contributions_total }}</span></td>
        <td><span id="percentage" class="text-muted"><div class='percenttogoal'>{{ percent_goal }}% to goal</div></span></td>
      </tr>
    </table>

{% endblock %}
