{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}
      <div class="card-title game-title">MONTH {{ current_round }} FEEDBACK</div>

      <table class="table">
        <tr style="background: linear-gradient(to right,#dcdcdc,#b5b5b5)">
          <th></th>
          <th></th>
          <th></th>
          <th>{{ current_month }}<br> (this month)</th>
          <th>Cumulative to date<br> (all past rounds)</th>
        </tr>

        <tr class="color-private ">
          <td></td>
          <td></td>
          <td>You put into your private account:</td>
          <td>
            <div>{{ player.practice_private_contribution }}</div>
          </td>
          <td>
            <div>{{ player.all_rounds_practice_private_contribution }}</div>
          </td>
        </tr>

        <tr class="color-conserve">
          <td></td>
          <td></td>
          <td>Your contribution to the group conservation account:</td>
          <td>
            <div>{{ player.practice_contribution}}</div>
          </td>
          <td>
            <div>{{ player.all_rounds_practice_contribution }}</div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

        </tr>

        <tr class="color-conserve">

          <td></td>
          <td></td>
          <td>Others' total contribution to the group conservation account:</td>

          <td>
            <div> {{ player.random_others_contribution }} </div>
          </td>
          <td>
            <div> {{ player.all_rounds_random_contribution }} </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="color-conserve">
          <td></td>
          <td></td>
          <td>Total group conservation account contributions:</td>
          <td>
            <div>{{ player.group_random_total_contribution }}</div>
          </b></td>
          <td>
            <div>{{ player.all_rounds_group_random_contribution }}</div>
          </b></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td id="percentage"></td>
        </tr>
      </table>

<script>
var percentage = document.getElementById("percentage")
var value = Math.floor(parseInt("{{ player.all_rounds_group_random_contribution }}".split(" ")[0], 10) * 100 / 900)
percentage.innerHTML = "<div class='percenttogoal'>" + value + "% of the annual energy <br>reduction goal of 60% (900)</div>"
</script>

{% endblock %}
