{% extends "global/Page.html" %}
{% load static otree %}

{% block title %} Quiz 2 {% endblock %}

{% block content %}
{% include './scripts/quiz.html' %}

<div class="card bg-transparent">
  <div class="card-header">
    <h1>COMPREHENSION QUIZ 2/4</h1>
  </div>

  <div class="card-body">
    <div class="form-group" id='id_field_{{ form.q2.html_name }}'>
      <p>Q2:</p>
      {{ form.q2.label_tag }}
      {{ form.q2 }}
      {{ form.q2.errors }}
      {% include './blocks/message-box.html' with field_id=form.q2.html_name hint_text=Constants.q2.0.hint %}

    </div>
  </div>
  {% include './blocks/quiz-buttons.html' %}

</div>
<script>
var fields = document.querySelectorAll('.form-check-input');
for (var field of fields) {
  field.checked = false;
}
</script>
{% endblock %}
