{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}

<div class="form-group" id='id_field_{{ form.q1.html_name }}'>
  <p>Q1:</p>
  {{ form.q1.label_tag }}
  {{ form.q1 }}
  {{ form.q1.errors }}
  {% include './blocks/message-box.html' with field_id=form.q1.html_name hint_text=Constants.q1.0.hint %}
</div>
{{ form.non_field_errors }}
</div>

{% include './blocks/quiz-buttons.html' %}
{% include './scripts/quiz.html' %}

<script>
var fields = document.querySelectorAll('.form-check-input');
for (var field of fields) {
  field.checked = false;
}
</script>
{% endblock %}
