{% extends "otree/Page.html" %}
{% load otree static %}

{% block global_styles  %}
<link rel="stylesheet" type="text/css" href="{% static 'global/fonts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'global/theme.css' %}" />
<link rel="icon" type="image/x-icon" href="{% static 'global/favicon.ico' %}">
<script src="{% static 'global/scripts.js' %}"></script>
{% endblock %}


{% block global_scripts %}
  {% include 'blocks/progress.html' %}

{% if Constants.template_config.debug_jsvars %}
  {% include './util/debug_to_js.html' %}
{% endif %}


{% endblock %}
