{% extends "otree/Page.html" %}
{% load otree static %}

{% block global_styles  %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Mukta|Lato|Source+Sans+Pro');
        html{background: white !important;} body{font-family: 'Source Sans Pro', sans-serif;}
        #myProgress {width:100%;background: lightgray;margin-bottom: -40px;}#myBar {width: 1%;height:30px;}
    </style>

    <div id="myProgress">
        <div id="myBar"><center><b style="color: white">{{ progress }}</b></center></div>
    </div>

    <link rel="stylesheet" type="text/css" href="{% static 'global/theme.css' %}" />


{% endblock %}


{% block global_scripts  %}

<script>
    var elem = document.getElementById("myBar");
    var width = 1;

    elem.style.background = 'gray';
    elem.style.borderRadius = '5%'
    var progress = '{{ progress }}';
    switch (progress) {
        case 'consent'://Es 1, va 1
            elem.style.width = '5%';
            break;
        case 'intro'://Son 5, van 6
            elem.style.marginLeft = '5%';
            elem.style.width = '15%';
            break;
        case 'examples'://Son 4, van 10
            elem.style.marginLeft = '20%';
            elem.style.width = '15%';
            break;
        default:
            //DO NOTHING.
            elem.style.marginLeft = '25%';
            elem.style.width = '50%';
            break;
    }
</script>
{% endblock %}
