{% extends "blocks/main-card.html" %}
{% load static otree %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}
        <div class="card" style="background:transparent; border-color: transparent">
            <div class="card-body">
              <img src="{% static 'assets/carbonfund.jpg' %}" class="img-fluid" alt="Carbonfund Certificate" />
                <div id="carbonfund_reduction_lbs">Thank you for reducing <strong>{{ lbs }}</strong> tonnes of CO2 emissions by donating <strong>{{ amount }}</strong></div>
                <div id="carbonfund_reduction_date" class=""><strong>{% now "m/d/Y" %}</strong></div>
            </div>
        </div>
{% endblock %}
