{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}SAMPLE POST-GAME SURVEY 1/4{% endblock %}

{% block content %}
<style>
.form-group {
  margin-bottom: 1rem;
}

.form-group {
  display: block;
  justify-content: flex-start;
}

.form-group ul {
  display: flex;
  justify-content: space-around;
}
.form-group .controls {
  justify-content: flex-start;
}
.flex-form-group .form-group {
  display: flex;
  justify-content: stretch;
}
.flex-form-group .form-group .controls {
  flex: 1;
  justify-content: space-around;
}
.survey-section {
  padding: 1em;
}
</style>

<div class="card bg-transparent">
  <div class="card-header">
    <h1>POST-GAME SURVEY 1/4</h1>
  </div>
  <div class="card-body">
    <section class="survey-section">
      <h2 class="survey-section-title">Please answer the below questions as honestly as possible.
        <br><span>Remember your responses are anonymous.</span>
      </h2>

      {% formfield player.s1a1 %}
      <div class="form-control-errors">{{ form.s1a1.errors }}</div>
      {% formfield player.s1a2 %}
      <div class="form-control-errors">{{ form.s1a2.errors }}</div>
      {% formfield player.s1a3 %}
      <div class="form-control-errors">{{ form.s1a3.errors }}</div>
      {% formfield player.s1a4 %}
      <div class="form-control-errors">{{ form.s1a4.errors }}</div>
      {% formfield player.s1a5 %}
      <div class="form-control-errors">{{ form.s1a5.errors }}</div>

    </section>

    <section class="survey-section">

      <h2 class="survey-section-title">
        Please indicate your level of agreement with the following four statements<br>
        <p>1 (Strongly Disagree) to 5 (Strongly Agree)</p>
      </h2>

      <div class="flex-form-group">
        {% formfield player.s1b1 %}
        <div class="form-control-errors">{{ form.s1b1.errors }}</div>
      </div>
      <div class="flex-form-group">
        {% formfield player.s1b2 %}
        <div class="form-control-errors">{{ form.s1b2.errors }}</div>
      </div>
      <div class="flex-form-group">
        {% formfield player.s1b3 %}
        <div class="form-control-errors">{{ form.s1b3.errors }}</div>
      </div>
      <div class="flex-form-group">
        {% formfield player.s1b4 %}
        <div class="form-control-errors">{{ form.s1b4.errors }}</div>
      </div>
      <div class="flex-form-group">
        {% formfield player.s1b5 %}
        <div class="form-control-errors">{{ form.s1b5.errors }}</div>
      </div>

    </section>
    <section class="survey-section">

      <h2 class="survey-section-title">
        Please rate how much each piece of information informed your decisions during the game:<br>
        <p>1 (Not At All Important) to 5 (Very Important):</p>
      </h2>

      <div class="flex-form-group">
        {% formfield player.s1c1 %}
        <div class="form-control-errors">{{ form.s1c1.errors }}</div>
      </div>
      <div class="flex-form-group">
        {% formfield player.s1c2 %}
        <div class="form-control-errors">{{ form.s1c2.errors }}</div>
      </div>
      <div class="flex-form-group">
        {% formfield player.s1c3 %}
        <div class="form-control-errors">{{ form.s1c3.errors }}</div>
      </div>
      <div class="flex-form-group">
        {% formfield player.s1c4 %}
        <div class="form-control-errors">{{ form.s1c4.errors }}</div>
      </div>
      <div class="flex-form-group">
        {% formfield player.s1c5 %}
        <div class="form-control-errors">{{ form.s1c5.errors }}</div>
      </div>

    </section>
  </div>

  {% include './blocks/next-button.html' %}

</div>

{% endblock %}
