{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}Survey #3{% endblock %}


{% block content %}
<style>
.form-group ul {
  flex: 1;
}
.form-group > label {
  flex: 1 1 40%;
  padding: 0;
}
.form-group .controls {
  flex: 1 0 60%;
  padding: 0;
}
.form-group .controls > ul {
  padding: 0;
  margin: 0;
}
.form-group .controls > ul > li {
  display: block;
  text-align: center;
}
</style>

<div class="card bg-transparent">
  <div class="card-body">
    <h1>POST-GAME SURVEY 3/4</h1>

    <p>
      People often express concern about environmental problems, but some people
      differ as to which consequences concern them the most. We are going to list
      different areas where environmental problems could have harmful consequences.
    </p>
    <p>
      Please rate how concerned you are about environmental harms in each area below.
    </p>

    <div style="background: linear-gradient(to right,#EFF0F0,#b5b5b5)">
      <div class="form-group">
        <label></label>
        <div class="flex flex-row text-center controls">
          <div>Not at all concerned</div>
          <div>A little concerned</div>
          <div>Moderately concerned</div>
          <div>Very concerned</div>
          <div>Extremely concerned</div>
        </div>
      </div>
    </div>

    {% formfields %}


  </div>
  {% include './blocks/next-button.html' %}
</div>

{% endblock %}
